[general]
domain = empty
seoUri = false
title = false

[db]
adapter = mysql
cache = false
host = localhost
username = empty
password = empty
dbname   = empty

[lang]
front = ru
admin = ru

[view]
scriptPath = application/views

[upload]
path = core/data/upload

[ckeditor]
key = 
uploadPath = fck