[general]
domain = empty.local
seoUri = false
title = false
demo = false

[db]
adapter = mysql
cache = false
host = localhost
username = empty
password = empty
dbname   = empty

[ws]
enabled = false
realtime = false
socket =

[mail]
default.from.name = empty.local
default.from.email = info@empty.local

[vk]
enabled = false
url = https://api.vk.com/method/
app =
token =
v = 5.59

[lang]
front = ru
admin = ru
gapi.key =

[view]
scriptPath = application/views

[upload]
path = core/data/upload

[ckeditor]
key = 
uploadPath = fck