/* Normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

html {
	font-size: 100%;
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

p {
	margin: 1em 0;
}

small {
	font-size:75%;
}

dl,
menu,
ol,
ul {
	margin: 1em 0;
}

dd {
	margin: 0 0 0 40px;
}

menu,
ol,
ul {
	padding: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

img {
	border: 0;
}

/* Global */
html,
body,
.page {
	height: 100%;
}

body {
	min-width: 990px;
	margin: 0;
	background: #fff;
	color: #000;
	font-family: Arial, sans-serif;
}

a {
	color: #3a7cbd;
}

a:hover {
	color: #ff9000;
}

.link-js {
	border-bottom: 1px dotted;
	text-decoration: none;
}

/* Page */
.page {
	height: auto;
	min-height: 100%;
}

.page-inner {
	position: relative;
	overflow: hidden;
	padding: 0 0 100px;
}

/* Header */
.header-wrap {
	background: url(../images/gd-header-public.png) repeat-x;
}

.page-404 .header-wrap {
	background-image: url(../images/gd-header-2.png);
}

.header-inner {
	position: relative;
	height: 280px;
	background: url(../images/bg-header-public.png) no-repeat 50% 0;
}

.page-404 .header-inner {
	background-image: url(../images/bg-header-2.png);
}

.header {
	position: relative;
	max-width: 1206px;
	margin: auto;
	padding: 0 92px;
}

.body-narrow .header {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1160px;
	margin: auto;
	margin: 0 0 0 -580px;
	padding: 0;
}

.header .logo {
	position: absolute;
	top: 112px;
	left: 92px;
	width: 145px;
	height: 85px;
	z-index: 30;
	margin: 0;
}

/* user */
.header .user {
	position: absolute;
	top: 167px;
	right: 6px;
	z-index: 30;
	width: 200px;
	margin: 0;
	padding: 6px 0 0 41px;
	color: #afafaf;
	font-size: 12px;
	cursor: default;
}

.header .user-logged {
	top: 141px;
	right: 68px;
}

.header .user .icon {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/sprite.png) no-repeat;
	display: block;
}

.header .user-logged .icon {
	top: 5px;
	left: 3px;
	background-position: -31px 0;
}

.header .user .username {
	position: relative;
	display: block;
	margin: 0 0 3px;
	color: #3a7cbd;
	font-weight: 700;
	text-decoration: none;
}

.header .user .username a {
	position: relative;
	overflow: hidden;
	max-width: 200px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}

.header .user .logout {
	display: block;
}

.header .user .logout a,
.header .user .link-login,
.header .user .link-register {
	border-bottom: 1px dotted;
	text-decoration: none;
}

/* phone-shape */
.phone-shape {
	position: relative;
	top: 33px;
	height: 30px;
}

.phone-shape-inner {
	min-width: 1160px;
	max-width: 1390px;
	margin: auto;
}

.body-narrow .phone-shape-inner {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1160px;
	margin-left: -580px;
}

.phone-shape .l,
.phone-shape .r,
.phone-shape .m {
	position: relative;
	display: block;
	width: 580px;
	/*width: 495px;*/
	height: 246px;
	background: url(/media/images/phone.png) no-repeat;
}

.phone-shape .l {
	float: left;
}

.phone-shape .l:after,
.phone-shape .r:after {
	position: absolute;
	top: 7px;
	display: block;
	width: 5px;
	height: 64px;
	background: #fff;
	content: '';
}

.phone-shape .l:after {
	right: -2px;
}

.phone-shape .r:after {
	left: -2px;
}

.phone-shape .r {
	float: right;
	background-position: 100% -246px;
}

.phone-shape .m {
	position: relative;
	overflow: hidden;
	width: auto;
	height: 83px;
	background-position: 0 100%;
}

@media all and (min-width: 1160px) {
.body-narrow .phone-shape .m {
	display: none;
}
}

.body-narrow .phone-shape .m {
	display: none;
}

/* nav */
.nav {
	position: absolute;
	bottom: 79px;
	left: 0;
	z-index: 20;
	width: 100%;
	color: #fff;
	font-size: 15px;
	letter-spacing: .02em;
	text-align: center;
	text-shadow: 0 -1px 0 #0c4594;
}

.nav ul {
	position: relative;
	margin: 0;
	padding: 16px 0 0;
	list-style: none;
}

.nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 20;
	display: none;
	width: 195px;
	margin: -1px 0 0 1px;
	padding: 17px 0 9px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,.21), inset 0 3px 3px -1px #9cb9da;
	border: solid #19c8f1;
	border-width: 0 2px 2px;
	border-radius: 1px;
	text-align: left;
}

.nav ul ul ul {
	z-index: 20;
	top: 0;
	left: 100%;
	display: none;
	margin: 0 0 0 2px;
	padding: 0 0 1px;
	box-shadow: 1px 1px 4px rgba(0,0,0,.21), inset 3px 0 3px -1px #9cb9da;
	border-width: 2px 2px 2px 0;
}

.nav ul ul:after {
	position: absolute;
	top: 0;
	left: -15%;
	z-index: -1;
	display: block;
	width: 130%;
	height: 110%;
	content: '';
}

.nav ul ul ul:after {
	left: -2%;
}

.nav .nav-drop:hover > ul {
	display: block;
}

.nav li {
	position: relative;
	display: inline-block;
	margin: 0 -5px;
}

.nav li:after {
	position: absolute;
	top: 0;
	right: 100%;
	z-index: -1;
	display: block;
	width: 1px;
	height: 14px;
	margin: 19px -3px 0 0;
	background: #f4f4f4;
	border-style: solid;
	border-width: 1px 0;
	border-color: #003699 transparent #4c83e8;
	opacity: .5;
	content: '';
}

.nav li:first-child:after,
.nav ul ul li:after {
	display: none;
}

.nav ul ul li {
	position: relative;
	display: block;
	margin: 0 0 -1px;
}

.nav ul ul .nav-drop:after {
	position: absolute;
	top: 50%;
	right: 8px;
	z-index: 30;
	display: block;
	width: 3px;
	height: 5px;
	margin: -1px 0 0;
	background: url(data:image/gif;base64,R0lGODlhAwAFAIABADp8vf///yH5BAEAAAEALAAAAAADAAUAAAIFRAKWi1cAOw==) no-repeat;
	border: 0 none;
	opacity: 1;
	content: '';
}

.nav ul ul .nav-drop:hover:after {
	background: url(data:image/gif;base64,R0lGODlhAwAFAIABAP///////yH5BAEAAAEALAAAAAADAAUAAAIFRAKWi1cAOw==) no-repeat;
}

.nav a {
	position: relative;
	display: block;
	color: #fff;
	text-decoration: none;
}

.nav a:before {
	position: absolute;
	top: -3px;
	left: 0;
	display: none;
	width: 100%;
	height: 3px;
	background: url(/media/images/nav-active.png) repeat-x 0 2px;
	content: '';
}

.nav li:first-child a:before,
.nav li:last-child a:before {
	top: -1px;
	background-repeat: no-repeat;
}

.nav li:first-child a:before {
	left: 2px;
	background-position: 0 -53px;
}

.nav li:last-child a:before {
	left: auto;
	right: 3px;
	background-position: 0 -57px;
}

.nav li:hover a:before {
	display: block;
}

.nav a span {
	position: relative;
	display: block;
	padding: 17px 19px 18px;
}

.nav a span:before,
.nav a span:after {
	position: absolute;
	top: 2px;
	display: none;
	width: 3px;
	height: 49px;
	content: '';
}

.nav li:hover a span:before,
.nav li:hover a span:after {
	display: block;
}

.nav a span:before {
	right: 100%;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(220,100%,30%,0)), color-stop(100%,hsla(220,100%,30%,0.5)));
	background: -webkit-linear-gradient(left, hsla(220,100%,30%,0) 0%,hsla(220,100%,30%,0.5) 100%);
	background: -moz-linear-gradient(left, hsla(220,100%,30%,0) 0%, hsla(220,100%,30%,0.5) 100%);
	background: -ms-linear-gradient(left, hsla(220,100%,30%,0) 0%,hsla(220,100%,30%,0.5) 100%);
	background: -o-linear-gradient(left, hsla(220,100%,30%,0) 0%,hsla(220,100%,30%,0.5) 100%);
	background: linear-gradient(to right, hsla(220,100%,30%,0) 0%,hsla(220,100%,30%,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003399', endColorstr='#80003399',GradientType=1 );
}

.nav a span:after {
	left: 100%;
	
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(220,100%,30%,0.5)), color-stop(100%,hsla(220,100%,30%,0)));
	background: -webkit-linear-gradient(left, hsla(220,100%,30%,0.5) 0%,hsla(220,100%,30%,0) 100%);
	background: -moz-linear-gradient(left, hsla(220,100%,30%,0.5) 0%, hsla(220,100%,30%,0) 100%);
	background: -ms-linear-gradient(left, hsla(220,100%,30%,0.5) 0%,hsla(220,100%,30%,0) 100%);
	background: -o-linear-gradient(left, hsla(220,100%,30%,0.5) 0%,hsla(220,100%,30%,0) 100%);
	background: linear-gradient(to right, hsla(220,100%,30%,0.5) 0%,hsla(220,100%,30%,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80003399', endColorstr='#00003399',GradientType=1 );
}

.nav li:hover > a {
	background: #ff8d12 url(/media/images/nav-active.png) repeat-x;
	text-shadow: 0 -1px 0 #cf3100;
}

.nav ul ul a {
	padding: 5px 15px 7px;
	color: #3a7cbd;
	font-size: 13px;
	text-shadow: none;
}

.nav ul ul li:hover > a {
	background: #ff7814;
	color: #fff;
	text-shadow: none;
}

.nav ul ul ul a {
	padding: 5px 10px 7px;
}

.nav ul ul ul a:hover {
	box-shadow: inset 3px 0 3px -1px #9c6a50;
}

.nav ul ul a:before,
.nav ul ul a:after {
	display: none !important;
}


/* status */
.status {
	position: relative;
	margin: 0 0 10px;
	padding: 8px 8px 8px 33px;
	border: 2px solid #ccc;
	border-radius: 5px;
	color: #535353;
	font-size: 14px;
	font-weight: 700;
}

.status .ico {
	position: absolute;
	top: 9px;
	left: 10px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(/media/images/sprite_private.png) no-repeat -9999px -9999px;
}

.status-error {
	border-color: red;
}

.status-error .ico {
	background-position: -42px -46px;
}

.status-warning {
	border-color: #ffcf00;
}

.status-warning .ico {
	background-position: -57px -46px;
}

.status-info {
	border-color: #a3cbff;
}

.status-info .ico {
	background-position: -72px -46px;
}

.status-success {
	border-color: #00af00;
}

.status-success .ico {
	background-position: -87px -46px;
}

.status-i p {
	margin: 10px 0 0;
}

.status p:first-child {
	margin: 0;
}


/* under-construction */
.under-construction {
	color: #535353;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}

.under-construction .title {
	margin-bottom: 26px;
}

.under-construction p {
	margin: 0 0 6px;
}


/* error-box */
.error-box {
	width: 700px;
	margin: 5px auto 0;
	padding: 3px 0 0;
	color: #636363;
	font-size: 14px;
	line-height: 17px;
}

.error-box p {
	margin: 0 0 22px;
}


/* Section */
.section {
	max-width: 1206px;
	margin: auto;
	padding: 0 92px;
}

.body-narrow .section {
	position: relative;
	left: 50%;
	width: 976px;
	margin-left: -580px;
}

/* cols */
.cols {
	position:relative;
	zoom:1;
}

.cols:before,
.cols:after {display:table;content:"";}
.cols:after {clear:both;}

.cols-section,
.cols-side,
.cols-extra {
	float: left;
	width: 100%;
	margin: 0 -100% 0 0;
}

.cols-section-i,
.cols-side-i,
.cols-extra-i {
	position: relative;
	padding-bottom: 3px;
}

.cols-side-i {
	width: 150px;
}

.cols-extra-i {
	width: 150px;
	margin: 0 0 0 auto;
}

.cols-section-i {
	margin: 0 215px;
}


/* pad*/
.pad {
	overflow: hidden;
	zoom: 1;
	min-width: 566px;
	max-width: 621px;
	margin: auto;
}

.pad-item {
	position: relative;
	float: left;
	width: 33%;
	height: 130px;
}

.pad-item-2 {
	top: 10px;
}

.pad-item-4,
.pad-item-5,
.pad-item-6 {
	margin: -13px 0 -12px;
}

.pad-item-5 {
	top: 15px;
}

.pad-item-8 {
	top: 20px;
}

.pad-item a {
	display: block;
	width: 182px;
	margin: auto;
	background: url(/media/images/pad.png) no-repeat;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 #175896;
}

.pad-item a:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -4px;
}

.pad-item p {
	position: relative;
	display: inline-block;
	width: 134px;
	vertical-align: middle;
	margin: 0;
	padding: 0 3px;
}

.pad-item-1 p         { top: -5px; }
.pad-item-1 a:hover p { top: -4px; }

.pad-item-2 p         { top: -1px; }
.pad-item-2 a:hover p { top:  0px; }

.pad-item-3 p         { top: -7px; }
.pad-item-3 a:hover p { top: -6px; }

.pad-item-4 p         { top: -9px; }
.pad-item-4 a:hover p { top: -8px; }

.pad-item-5 p         { top: -4px; }
.pad-item-5 a:hover p { top: -3px; }

.pad-item-6 p         { top: -5px; }
.pad-item-6 a:hover p { top: -4px; }

.pad-item-7 p         { top: -9px; }
.pad-item-7 a:hover p { top: -8px; }

.pad-item-8 p         { top: -2px; }
.pad-item-8 a:hover p { top: -1px; }

.pad-item-9 p         { top: -1px; }
.pad-item-9 a:hover p { top:  0px; }

.pad-item span {
	display: block;
}

.pad-item-1 a {
	height: 123px;
}

.pad-item-2 a {
	height: 113px;
	background-position: -184px -10px;
}

.pad-item-3 a {
	height: 123px;
	background-position: -368px 0;
}

.pad-item-4 a {
	height: 128px;
	background-position: 0 -124px;
}

.pad-item-5 a {
	height: 114px;
	background-position: -184px -139px;
}

.pad-item-6 a {
	height: 128px;
	background-position: -368px -124px;
}

.pad-item-7 a {
	height: 130px;
	background-position: 0 -254px;
}

.pad-item-8 a {
	height: 114px;
	background-position: -184px -274px;
}

.pad-item-9 a {
	height: 130px;
	background-position: -368px -254px;
}

.pad-item-1 a:hover { background-position: -551px    0px; }
.pad-item-2 a:hover { background-position: -735px  -10px; }
.pad-item-3 a:hover { background-position: -919px    0px; }
.pad-item-4 a:hover { background-position: -551px -124px; }
.pad-item-5 a:hover { background-position: -735px -139px; }
.pad-item-6 a:hover { background-position: -919px -124px; }
.pad-item-7 a:hover { background-position: -551px -254px; }
.pad-item-8 a:hover { background-position: -735px -274px; }
.pad-item-9 a:hover { background-position: -919px -254px; }

.pad-item .ico {
	position: relative;
	display: inline-block;
	width: 31px;
	height: 31px;
	margin: 0 auto 1px;
	background: url(/media/images/pad-icons.png) no-repeat;
}

.pad-item-1 .ico { background-position: 0 0px; top: -2px; }
.pad-item-2 .ico { background-position: 0 -96px; top:  3px; }
.pad-item-3 .ico { background-position: 0 -64px; }
.pad-item-4 .ico { background-position: 0 -192px; top:  1px; }
.pad-item-5 .ico { background-position: 0 -128px; top:  1px; }
.pad-item-6 .ico { background-position: 0 -160px; top:  2px; }
.pad-item-7 .ico { background-position: 0 -290px; top:  1px; }
.pad-item-8 .ico { background-position: 0 -32px; }
.pad-item-9 .ico { background-position: 0 -256px; }

/*news*/
.news_date{
color: #9f9f9f;
font-size: 11px;
}

/* breadcrumbs */
.breadcrumbs {
	margin: -38px 0 28px;
	color: #9f9f9f;
	font-size: 11px;
}

.breadcrumbs span {
	display: inline-block;
	vertical-align: baseline;
	width: 3px;
	height: 5px;
	margin: 0 4px 0 5px;
	text-indent: -999em;
	background: url(/media/images/sprite_public.png) no-repeat -94px -31px;
}

/* title */
.title {
	margin: 0 0 26px;
	color: #535353;
	font-size: 26px;
	font-weight: 400;
	margin-right: 20px;
}

/* ugc */
.ugc {
	color: #636363;
	font-size: 12px;
	line-height: 14px;
}

.ugc h4 {
	margin: 0 0 14px;
	font-size: 14px;
}

.ugc small {
	color: #c7c7c7;
}

.ugc p,
.ugc ul,
.ugc ol {
	margin: 0 0 14px;
}

.ugc p.lh {
	line-height: 21px;
}

.ugc ul {
	margin-bottom: 15px;
	padding: 0;
	list-style: none;
}

.ugc ul li {
	position: relative;
	padding: 2px 0 2px 40px;
}

.ugc ul li:before {
	position: absolute;
	top: 2px;
	left: 30px;
	content: ' \2013';
}

.ugc ol {
	margin-bottom: 15px;
	padding: 0 0 0 54px;
}

.ugc ol li {
	margin-bottom: 14px;
}

.ugc table {
	width: 100%;
	margin: 30px 0;
	border-collapse: collapse;
}

.ugc h4 + table {
	margin-top: -6px;
}


.piclist h4 {
	margin: 0 0 9px;
	color: #3a7cbd;
}

.piclist td {
	padding-bottom: 30px;
}

.piclist td:first-child {
	padding-right: 30px;
	text-align: center;
}


.ugc .fn {
	color: #f00;
}


/* bt */
.bt {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}

/* bt-grey */
.bt-grey {
	padding: 5px 9px 3px;
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	border: 1px solid;
	border-color: #e3e3e3 #cfcfcf #b8b8b8;
	border-radius: 5px;
	color: #535353;
	font: 12px Arial, sans-serif;
}

.bt-grey:hover {
	color: #535353;
}

/* bt-blue */
.bt-blue {
	padding: 6px 20px;
	background: #4ba6e9;
	background: -moz-linear-gradient(top, #4ba6e9 0%, #2570c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba6e9), color-stop(100%,#2570c7));
	background: -webkit-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -o-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -ms-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: linear-gradient(to bottom, #4ba6e9 0%,#2570c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba6e9', endColorstr='#2570c7',GradientType=0 );
	box-shadow: 0 1px 0 #c0c0c0;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: 14px Arial, sans-serif;
}

.bt-blue:hover {
	color: #fff;
}

/* bt-blue2 */
.bt-blue2 {
	padding: 5px 11px 3px;
	background: #4ba6e9;
	background: -moz-linear-gradient(top, #4ba6e9 0%, #2570c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba6e9), color-stop(100%,#2570c7));
	background: -webkit-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -o-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -ms-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: linear-gradient(to bottom, #4ba6e9 0%,#2570c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba6e9', endColorstr='#2570c7',GradientType=0 );
	box-shadow: 0 1px 0 #c0c0c0;
	border: none;
	border-radius: 5px;
	color: #fff;
	font: 700 12px Arial, sans-serif;
	text-shadow: 0 -1px 0 #2465b4;
}

.bt-blue2:hover {
	color: #fff;
}

.bt-aticle {
	padding: 22px 11px 3px;
	background: #4ba6e9;
	background: -moz-linear-gradient(top, #4ba6e9 0%, #2570c7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba6e9), color-stop(100%,#2570c7));
	background: -webkit-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -o-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: -ms-linear-gradient(top, #4ba6e9 0%,#2570c7 100%);
	background: linear-gradient(to bottom, #4ba6e9 0%,#2570c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba6e9', endColorstr='#2570c7',GradientType=0 );
	box-shadow: 0 1px 0 #c0c0c0;
	border: none;
	border-radius: 5px;
	color: #fff;
	font:  17px Arial, sans-serif;
	text-shadow: 0 -1px 0 #2465b4;
	width: 154px;
    height: 44px;
    text-align: center;
}

.bt-aticle:hover {
	color: #fff;
}

.ugc .t-spec {
	border-collapse: separate;
	border-spacing: 0;
}


/* t-spec */

.t-spec {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	color: #535353;
}

.t-spec thead th {
	padding: 7px 8px;
	background: #ffe6c5;
	border-top: 1px solid #ff9000;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	vertical-align: top;
}

.t-spec .tr-section th {
	padding: 7px 8px;
	background: #f3f3f3;
	border: solid #bebebe;
	border-width: 0 1px;
	text-align: left;
}

.t-spec thead th:first-child {
	border-left: 1px solid #ff9000;
	border-radius: 6px 0 0;
}

.t-spec thead th:last-child {
	border-right: 1px solid #ff9000;
	border-radius: 0 6px 0 0;
}

.t-spec tbody td {
	min-height: 20px;
	padding: 13px 8px;
	border-bottom: 1px solid #bebebe;
	font-size: 12px;
	line-height: 14px;
	background: #FFF;
}

.t-spec td:first-child {
	border-left: 1px solid #bebebe;
}

.t-spec td:last-child {
	border-right: 1px solid #bebebe;
}

.t-spec tbody tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
}

.t-spec tbody tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
}


/*-------*/


.logos {
	position: relative;
	zoom: 1;
	margin-right: -50px !important;
	padding: 10px 0 20px;
}

.logos img {
	margin-right: 5%;
	vertical-align: middle;
}

/* toggle */
.toggle {
	margin-left: -17px;
	/*padding: 3px 0 100px;*/
}

.toggle-item {
	position: relative;
	width: 254px;
	margin: 0 0 1px;
}

.toggle-head {
	display: block;
	width: 254px;
	height: 42px;
	padding: 24px 0 0;
	background: url(/media/images/toggle.png) no-repeat;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(23,88,250,.6);
}

.toggle-head:hover {
	background-position: 0 -67px;
	color: #fff;
}

.toggle-drop {
	
}

.toggle-drop i {
	position: absolute;
	top: 28px;
	right: 23px;
	display: block;
	width: 4px;
	height: 8px;
	background: url(/media/images/sprite_public.png) no-repeat -99px -31px;
}

.toggle-body {
	position: absolute;
	top: 27px;
	left: 100%;
	display: none;
	width: 400px;
}

.toggle-body ul {
	margin: 0 0 0 32px;
	padding: 0;
	color: #3a7cbd;
	font-size: 12px;
}

.toggle-body li {
	margin: 0 0 10px;
}

.toggle-body a {
	text-decoration: none;
}

.toggle-body a:hover {
	color: #3a7cbd;
	text-decoration: underline;
}


/* navside */
.navside {
	
}

.navside ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
	line-height: 13px;
	font-weight: 700;
}

.navside li {
	position: relative;
	margin: 0 0 2px 17px;
	padding: 5px 0;
}

.navside a {
	display: block;
	padding: 5px 0;
	margin: -5px 0;
	text-decoration: none;
}

.navside a:hover {
	text-decoration: underline;
}

.navside i {
	position: absolute;
	top: 6px;
	left: -17px;
	display: block;
	width: 10px;
	height: 10px;
	background: url(/media/images/sprite_public.png) no-repeat 0 -31px;
}

.navside i:after {
	position: absolute;
	top: -5px;
	left: -5px;
	display: block;
	width: 20px;
	height: 20px;
	content: '';
}

.navside .multiple > i {
	background-position: -11px -31px;
	cursor: pointer;
}

.navside .opened > i {
	background-position: -79px -31px;
}

.navside .multiple ul {
	display: none;
}

.navside .opened .open_ul {
	display: block;
	padding-left: 6px;
	margin-bottom: -6px;
}

.navside .active {
	color: #ff9000;
}

/* callnow */
.callnow {
	margin: 0 0 33px;
}

.callnow img {
	vertical-align: middle;
}

/* contacts */
.contacts {
	margin: 0 0 18px;
	padding: 0;
	list-style: none;
	color: #636363;
	font-size: 12px;
	line-height: 14px;
}

.contacts li {
	margin: 0 0 4px;
}

.contacts div {
	padding: 5px 0 3px 10px;
}


.map {
	margin: 0 0 22px;
}


.contacts-side {
	padding: 0 0 0 3px;
}

.contacts-side h4 {
	margin: 0 0 10px;
	color: #636363;
	font-size: 13px;
	font-weight: 700;
}

.contacts-side ul {
	margin: 0;
	padding: 0 0 0 21px;
	list-style: none;
	font-size: 12px;
	line-height: 15px;
}

.contacts-side li {
	position: relative;
	zoom: 1;
	margin: 0 0 9px;
}

.contacts-side .tel {
	margin-bottom: 6px;
}

.contacts-side .skype {
	margin-bottom: 7px;
}

.contacts-side .mail {
	margin-bottom: 16px;
}

.contacts-side .social {
	margin-left: -1px;
}

.contacts-side .tel a {
	text-decoration: none;
}

.contacts-side .icq span,
.contacts-side .tel a,
.contacts-side .tel a:hover {
	color: #3a7cbd;
	cursor: default;
}

.contacts-side .link-fb,
.contacts-side .link-vk,
.contacts-side .link-tw {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	text-indent: -999em;
	background: url(/media/images/sprite_public.png) no-repeat;
}

.contacts-side .link-fb {
	background-position: 0 -48px;
}

.contacts-side .link-vk {
	background-position: -21px -48px;
}

.contacts-side .link-tw {
	background-position: -42px -48px;
}

.contacts-side .ico {
	position: absolute;
	display: block;
	background: url(/media/images/sprite_public.png) no-repeat;
}

.contacts-side .tel .link-tel {
	display: block;
}

.contacts-side .tel small {
	position: relative;
	top: -3px;
	color: #636363;
	font-size: 10px;
}

.contacts-side .tel .ico {
	top: -2px;
	left: -20px;
	width: 9px;
	height: 16px;
	background-position: -22px -31px;
}

.contacts-side .icq .ico {
	top: -1px;
	left: -23px;
	width: 15px;
	height: 15px;
	background-position: -32px -31px;
}

.contacts-side .skype .ico {
	top: 0;
	left: -24px;
	width: 16px;
	height: 16px;
	background-position: -48px -31px;
}

.contacts-side .mail .ico {
	top: 3px;
	left: -22px;
	width: 13px;
	height: 9px;
	background-position: -65px -31px;
}


/* 404 */
.b404 {
	width: 662px;
	margin: 5px auto 0;
	padding: 247px 0 0;
	background: url(/media/images/404.png) no-repeat;
	color: #636363;
	font-size: 14px;
	line-height: 17px;
}


/* Footer */
.footer-wrap {
	position: relative;
	z-index: 30;
	clear: both;
	margin-top: -65px;
	background: #b3edff url(/media/images/gd-footer.png) repeat-x;
}

.footer-inner {
	position: relative;
	height: 65px;
	background: url(/media/images/bg-footer.png) no-repeat 50% 0;
}

.footer {
	position: relative;
	max-width: 1206px;
	margin: auto;
	padding: 0 92px;
}

.foo-copy {
	padding: 10px 0 0 38px;
	color: #3a7cbd;
	font-size: 10px;
}

.foo-copy p {
	margin: 0;
}

.footer .consultant {
	position: absolute;
	bottom: 100%;
	right: 92px;
}

.footer .consultant a {
	display: block;
	width: 150px;
	height: 22px;
	padding: 12px 0 0;
	background: url(/media/images/consultant.png) no-repeat;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #cd691b;
}

/* Popup */

.tint {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 500;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.45);
}

.popup {
	overflow: hidden;
    position: fixed;
    top: 30%;
	left: 50%;
	display: none;
	z-index: 600;
	width: 858px;
	background: #fff;
	box-shadow: 0 0 5px rgba(20,52,89,.75), 0 0 46px rgba(23,110,215,.75);
	border-radius: 3px;	

	margin-left:-429px;
	margin-top:-100px;
}

.popup-close {
	position: absolute;
	top: 6px;
	right: 6px;
	display: block;
	width: 21px;
	height: 21px;
	background: url(/media/images/sprite_public.png) no-repeat -62px 0;
	cursor: pointer;
}

.popup-close:after {
	position: absolute;
	top: -6px;
	left: -6px;
	display: block;
	width: 33px;
	height: 33px;
	z-index: 1;
	content: '';
}

.popup-info {
	float: left;
	width: 270px;
	padding: 24px 0 14px 30px;
}

.popup-info h2 {
	margin: 0 0 10px;
	color: #3a7cbd;
	font-size: 17px;
	line-height: 20px;
}

.popup-info p {
	margin: 0 0 10px;
	color: #999994;
	font-size: 12px;
	line-height: 14px;
}

.popup-info b {
	color: #767676;
}


.popup-form {
	float: left;
	min-height: 304px;
	font-size: 12px;
}

.popup-form h2 {
	position: relative;
	margin: 0 0 8px;
	color: #3a7cbd;
	font-size: 17px;
	line-height: 20px;
}

.popup-form h2 i {
	position: absolute;
	top: 0;
	left: 2px;
	display: block;
	width: 17px;
	height: 17px;
	background: url(../images/sprite_public.png) no-repeat;
}

.popup-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.login-form {
	position: relative;
}

.login-form:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 1px;
	height: 1000px;
	background: #3a7cbd;
	content: '';
}

.login-form,
.register-form {
	padding: 24px 0 15px 30px;
	width: 240px;
}

.register-form h2 i {
	background-position: -99px 0;
}

.login-form h2 i {
	left: 4px;
	background-position: -117px 0;
}

.register-form h2,
.login-form h2 {
	padding-left: 28px;
}

.payment-card label {
	display: inline !important;
}

.payment-card,
.login2-form,
.register2-form,
.reset_pass-form,
.resend_activation_code,
.activation_card {	
	margin: auto;
	width: 210px;
	float: none;
}

.coplaint_form {
	width: 100%;
}

.coplaint_form textarea {
	margin: 0;
	padding: 2px;
	background: #ddeeff;
	outline: none;
	box-shadow: inset 0 0 0 1px #cae1f8;
	border: 1px solid #a4c5e9;
	border-radius: 3px;
	font: 12px Arial, sans-serif;
	-webkit-appearance: none;
	width: 100%;
}

.coplaint_form textarea:focus {
	background: #fff;
	box-shadow: 0 0 5px rgba(221,238,255,.75), inset 0 0 3px rgba(58,124,189,.5);
}

.blue_border {
	margin: auto;
	width: 220px;
}

.blue_border p {
	font-size: 12px;
	margin: 0;
}


.login2-form .error,
.register2-form .error,
.reset_pass-form .error,
.resend_activation_code .error,
.activation_card .error,
.payment-card .error {
	width: 100%;
}


.popup-form-item {
	margin: 0 0 7px;
	color: #999994;
}

.popup-form .reg_success {
	margin: 0 25px 7px -10px;
	padding: 0 10px 7px;
	border: 2px solid #090;
	border-radius: 5px;
	background: #ffeded;
	border-color: #090;
}

.popup-form .error,
.popup-form-forgot .error2 {
	margin: 0 25px 7px -10px;
	padding: 0 10px 7px;
	border: 2px solid #fff;
	border-radius: 5px;
	background: #ffeded;
	border-color: #f00;
}

.popup-form .field-errors,
.popup-form .error error_login,
.popup-form-forgot .error2 error_login,
.popup-form reg_success {
	position: relative;
	margin: 0 0 -3px;
	padding: 7px 0 0;
	color: #f00;
	font-size: 11px;
	font-weight: 700;
	line-height: 15px;
}

.popup-form reg_success {
	color: #090;
}

.popup-form .error error_login {
	display: block;
	margin: 0;
}

.popup-form .field-errors ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.popup-form .field-errors li {
	list-style: none;
	background: url(/media/images/sprite_public_popup_error.png) no-repeat;
	padding-left: 20px;
}

.form-row {
	margin: 0 0 7px;
}

.popup-form .label,
.popup-form small {
	padding: 3px 0 0;
	display: block;
}
.popup-form .help {
	display: block;
	margin: 0px;
	margin-top: 2px;
}

.popup-form label {
	padding: 3px 0 0;
	display: inline-block;
}

.popup-form small,
.popup-form .help {
	font-size: 9px;
	line-height: 11px;
	color: #999994;
	width: 85%;
}

.popup-form .field-required-label,
.popup-form .req {
 	color: #ff0000;
}
 
.popup-form .req {
 	margin-left: -2px;
}

.popup-form label {
	margin: 0 0 2px;
	color: #767676;
	font-weight: 700;
}

.popup-form input[type="text"],
.popup-form input[type="password"]  {
	width: 203px;
	margin: 0;
	padding: 2px;
	background: #ddeeff;
	outline: none;
	box-shadow: inset 0 0 0 1px #cae1f8;
	border: 1px solid #a4c5e9;
	border-radius: 3px;
	font: 12px Arial, sans-serif;
	-webkit-appearance: none;
}

.popup-form input[type="text"]:focus,
.popup-form input[type="password"]:focus  {
	background: #fff;
	box-shadow: 0 0 5px rgba(221,238,255,.75), inset 0 0 3px rgba(58,124,189,.5);
}

.popup-form .field ul {
	margin: 0;
	padding: 0;
}

.popup-form .field li {
	list-style: none;
}

.popup-form .submit {
	margin: 8px 0 0;
	padding: 7px 10px;
	background: #4b9eeb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b9eeb), color-stop(100%,#3780c6));
	background: -webkit-linear-gradient(top, #4b9eeb 0%,#3780c6 100%);
	background: -moz-linear-gradient(top, #4b9eeb 0%, #3780c6 100%);
	background: -ms-linear-gradient(top, #4b9eeb 0%,#3780c6 100%);
	background: -o-linear-gradient(top, #4b9eeb 0%,#3780c6 100%);
	background: linear-gradient(to bottom, #4b9eeb 0%,#3780c6 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,.18);
	border: 1px solid;
	border-color: #6db7fd transparent #3973ac;
	border-radius: 15px;
	color: #fff;
	font: 700 12px Arial,sans-serif;
	text-shadow: 0 -1px 0 #175896;
	cursor: pointer;
}

.popup-form .captcha {
	border: 1px solid #a4c5e9;
	box-shadow: inset 0 0 0 1px #cae1f8;
	border-radius: 3px;
	margin: 0 0 7px;
	color: #999994;
	width: 110px;
	height: 32px;
}

.popup-form .captcha-input {
	position: absolute;
	margin-left: 5px !important;
	vertical-align: middle !important;
	width: 80px !important;
	padding: 5px !important;
	font-size: 18px !important;
}

.popup-form-forgot {
	margin: 0 5px 4px -11px;
	padding: 7px 9px 0;
	border: 2px solid #fff;
	width: 213px;
}

.popup-form-forgot input[type="text"] {
	width: 185px;
}

.popup-form-forgot .error2 {
	margin: 0;
}

.popup-form-forgot-opened {
	background: #dcfbdb;
	border-color: #2386e1;
	border-radius: 5px;
}

.popup-form-forgot-h {
	border-bottom: 1px dotted;
	font-weight: 700;
	text-decoration: none;
}

.popup-form-forgot-i {
	display: none;
	padding: 11px 10px 10px;
}

.popup-form-forgot-i h4 {
	margin: 0 0 2px;
	color: #3a7cbd;
	font-size: 12px;
}

.popup-form-forgot-i p {
	margin: 0 0 2px;
	color: #767676;
	font-size: 11px;
	line-height: 13px;
}

.popup-form-forgot-i .text {
	width: 182px;
}

.popup-form-forgot-i .submit {
	margin-top: 3px;
	padding: 3px 9px;
}


/* tables */

.type-5 {
	width: 100%;
	margin: 0 0 30px;
	border-spacing: 0;
	font-size: 12px;
}

.type-5 th {
	padding: 8px 17px;
	font-weight: 700;
	text-align: left;
}

.type-5 td {
	padding: 6px 17px 5px;
	text-align: left;
}



.type-4 {
	width: 100%;
	margin: 0 0 30px;
	border: solid #bebebe;
	border-width: 0 1px 1px;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
	padding:5px;
}

.type-4 caption {
	padding: 5px 17px 6px;
	background: #ffe6c5;
	border: solid #ffa337;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	color: #535353;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.type-4 th {
	padding: 8px 17px;
	font-weight: 700;
	text-align: left;
}

.type-4 td {
	padding: 6px 17px 5px;
	text-align: left;
}

.type-4 .odd th,
.type-4 .odd td {
	background: #f3f3f3;
}

.type-4 thead + tbody th,
.type-4 thead + tbody td {
	background: #fff;
}

.type-4 thead + tbody .odd th,
.type-4 thead + tbody .odd td {
	background: #f3f3f3;
}

.type-4 tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.type-4 tbody tr:last-child td:last-child {
	border-radius: 0 0 5px;
}
<!-- Ñòèëü Ìîäàëüíîå Îêíî Áûñòîé ïîêóïêè -->
.type-buy {
	width: 100%;
	margin: 0 0 30px;
	border: solid #bebebe;
	border-width: 0 1px 1px;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
}

.type-buy caption {
	padding: 5px 17px 6px;
	background: #ffe6c5;
	border: solid #ffa337;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	color: #535353;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.type-buy th {
	padding: 8px 17px;
	font-weight: 700;
	text-align: left;
}

.type-buy td {
	padding: 6px 17px 5px;
	text-align: left;
}

.type-buy .odd th,
.type-buy .odd td {
	background: #f3f3f3;
}

.type-buy thead + tbody th,
.type-buy thead + tbody td {
	background: #fff;
}

.type-buy thead + tbody .odd th,
.type-buy thead + tbody .odd td {
	background: #f3f3f3;
}

.type-buy tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.type-buy tbody tr:last-child td:last-child {
	border-radius: 0 0 5px;
}
<!-- Êîíåö Ñòèëÿ Ìîäàëüíîãî Îêíà Áûñòîé ïîêóïêè -->

.type-1 {
	width: 100%;
	margin: 0 0 30px;
	border: solid #bebebe;
	border-width: 0 1px 1px;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
}

.type-1 caption {
	padding: 5px 17px 6px;
	background: #ffe6c5;
	border: solid #ffa337;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	color: #535353;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
}

.type-1 th {
	padding: 8px 17px;
	font-weight: 700;
	text-align: left;
}

.type-1 td {
	padding: 6px 17px 5px;
	text-align: left;
}

.type-1 .odd th,
.type-1 .odd td {
	background: #f3f3f3;
}

.type-1 thead + tbody th,
.type-1 thead + tbody td {
	background: #fff;
}

.type-1 thead + tbody .odd th,
.type-1 thead + tbody .odd td {
	background: #f3f3f3;
}

.type-1 tbody tr:last-child td:first-child,
.type-dl tbody tr:last-child th {
	border-radius: 0 0 0 5px;
}

.type-1 tbody tr:last-child td:last-child,
.type-dl tbody tr:last-child td {
	border-radius: 0 0 5px;
}

.type-1 .sep {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

.type-1 a {
	text-decoration: none;
}

.type-1 a:hover {
	text-decoration: underline;
}

.type-dl td {
	text-align: right;
}

.type-2 {
	width: 100%;
	margin: 23px 0 30px;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
}

.type-2 th {
	padding: 9px 19px 10px;
	background: #ffe6c5;
	border: solid #ffa337;
	border-width: 1px 0 0;
	color: #535353;
	text-align: left;
}

.type-2 th:first-child {
	border-width: 1px 0 0 1px;
	border-radius: 5px 0 0;
}

.type-2 th:last-child {
	border-width: 1px 1px 0 0;
	border-radius: 0 5px 0 0;
}

.type-bth th {
	padding: 6px 19px 5px;
	font-size: 14px;
}

.type-2 td {
	padding: 3px 19px 4px;
	background: #f3f3f3;
	text-align: left;
}

.type-2 td:first-child {
	border-left: 1px solid #bebebe;
}

.type-2 td:last-child {
	border-right: 1px solid #bebebe;
}

.type-2 tbody tr:last-child td {
	border-bottom: 1px solid #bebebe;
}

.type-2 tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.type-2 tbody tr:last-child td:last-child {
	border-radius: 0 0 5px;
}

.type-bth td {
	padding: 5px 19px 6px;
}

.type-2 .odd td {
	background: #fff;
}

.type-1 .center,
.type-2 .center {
	text-align: center;
}

.type-3 {
	width: 100%;
	margin: 23px 0 30px;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
}

.type-3 caption {
	padding: 0 0 7px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.type-3 th {
	padding: 5px 19px;
	background: #ffddaf;
	border: 1px solid #ffa337;
	color: #535353;
	text-align: left;
}

.type-3 th:first-child {
	border-radius: 5px 0 0;
}

.type-3 th:last-child {
	border-radius: 0 5px 0 0;
}

.type-3 th.colspan {
	padding-top: 7px;
	background: #ffe6c5;
	border-width: 1px 1px 0 0;
	text-align: center;
}

.type-3 th.span {
	border-radius: 0;
	border-width: 1px 1px 1px 0;
}

.type-3 td {
	padding: 3px 19px 4px;
	border-right: 1px solid #bebebe;
	text-align: left;
}

.type-3 td:first-child {
	border-left: 1px solid #bebebe;
}

.type-3 tbody tr:last-child td {
	border-bottom: 1px solid #bebebe;
}

.type-3 .odd td {
	background: #f3f3f3;
}

.type-3 tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.type-3 tbody tr:last-child td:last-child {
	border-radius: 0 0 5px;
}


.important_sim {
	width: 100%;
	margin: 0 0 30px;
	border-width: 0 1px 1px;
	border-bottom: 1px solid #bebebe;
	border-spacing: 0;
	border-radius: 0 0 5px 5px;
	color: #535353;
	font-size: 12px;
}

.important_sim th {
	padding: 5px 19px;
	background: #ffddaf;
	border: 1px solid #ffa337;
	color: #535353;
	text-align: center;
}

.important_sim td {
	padding: 6px 17px 5px;
	text-align: left;
}

.important_sim.odd th,
.important_sim .odd td {
	background: #f3f3f3;
}

.important_sim thead + tbody th,
.important_sim thead + tbody td {
	background: #fff;
}

.important_sim thead + tbody .odd th,
.important_sim thead + tbody .odd td {
	background: #f3f3f3;
}

.important_sim thead th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #ffa337;
}

.important_sim thead th:first-child {
	border-radius: 5px 0 0 0;
}

.important_sim thead th {
	border: 1px solid #ffa337;
	border-right: none;
}

.important_sim tbody tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.important_sim tbody td:first-child {
	border-left: 1px solid #bebebe;
}

.important_sim tbody tr:last-child td:last-child {
	border-radius: 0 0 5px;
	border-right: 1px solid #bebebe;
}

.important_sim tbody td:last-child {
	border-right: 1px solid #bebebe;
}

.important_sim .td_left {
	border-left: 1px solid #bebebe;
}


.h4_style {
	color: #535353;
	font-size: 12px;
}

/* form */
.form-submit {
	zoom: 1;
}

.form-submit:before,
.form-submit:after {display:table;content:"";}
.form-submit:after {clear:both;}

.form-submit-left {
	float: left;
}

.form-submit-right {
	float: right;
}

/* êðàñíàÿ çâåçäî÷êà */
.req {
	color: #f00;
}


/* web-phone */

.web-phone-wrap {
	padding: 8px 0 0;
}

.web-phone-text {
	color: #636363;
	font-size: 12px;
	line-height: 14px;
}

.web-phone-text-after {
	clear: both;
}

.web-phone-text p,
.web-phone-text ul,
.web-phone-text ol {
	margin: 0 0 9px;
}

.web-phone-manual {
	overflow: hidden;
	padding: 11px 0 0 8px;
	color: #636363;
	font-size: 12px;
	line-height: 14px;
}

.web-phone-manual p,
.web-phone-manual ul,
.web-phone-manual ol {
	margin: 0 0 12px;
}

.web-phone-manual .manual {
	padding: 0;
	list-style: none;
	counter-reset: manual;
}

.web-phone-manual .manual li {
	position: relative;
	margin: 0 0 15px;
	padding: 14px 0 0;
	border-top: 1px dotted #a0a0a0;
	text-indent: 17px;
}

.web-phone-manual .manual li:first-child {
	padding: 0;
	border: 0 none;
}

.web-phone-manual .manual li:before {
	position: absolute;
	top: 12px;
	left: -3px;
	display: block;
	width: 14px;
	height: 14px;
	padding: 1px 0 0 1px;
	background: #4990d3;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	text-indent: 0;
	counter-increment: manual;
	content: counter(manual);
}

.web-phone-manual .manual li:first-child:before {
	top: -2px;
}

.web-phone-manual .manual ul {
	padding: 7px 0 0;
	list-style: none;
	counter-reset: list;
}

.web-phone-manual .manual ul li {
	margin: 0 0 16px;
	padding: 0;
	border: 0 none;
	text-indent: 0;
}

.web-phone-manual .manual ul li:before {
	position: static;
	display: inline;
	background: none;
	color: #636363;
	font-size: 14px;
	font-weight: 400;
	counter-increment: list;
	content: counter(list, lower-latin) ") ";
}

.web-phone {
	position: relative;
	width: 238px;
	height: 381px;
	margin: 0;
	padding: 17px 22px;
	background: #eee url(/js/admin/jssip/web-phone.png) no-repeat;
}

.web-phone-i {
	width: 234px;
	height: 280px;
	border: 2px solid;
	border-color: #ddd #d9d9d9 #d2d2d2;
	border-radius: 2px;
	background: #b0bcbe url(/js/admin/jssip/web-phone.png) no-repeat -2px -422px;
}

.web-phone-active .web-phone-i {
	background-color: #39cef1;
	background-position: -242px -422px;
}

@-webkit-keyframes wpnProgress {
	0%   { box-shadow: inset 0 0 30px 10px transparent; }
	50%  { box-shadow: inset 0 0 30px 10px #06F;     }
	100% { box-shadow: inset 0 0 30px 10px transparent; }
}

@-moz-keyframes wpnProgress {
	0%   { box-shadow: inset 0 0 30px 10px transparent; }
	50%  { box-shadow: inset 0 0 30px 10px #06F;     }
	100% { box-shadow: inset 0 0 30px 10px transparent; }
}

@-o-keyframes wpnProgress {
	0%   { box-shadow: inset 0 0 30px 10px transparent; }
	50%  { box-shadow: inset 0 0 30px 10px #06F;     }
	100% { box-shadow: inset 0 0 30px 10px transparent; }
}

@keyframes wpnProgress {
	0%   { box-shadow: inset 0 0 30px 10px transparent; }
	50%  { box-shadow: inset 0 0 30px 10px #06F;     }
	100% { box-shadow: inset 0 0 30px 10px transparent; }
}

.web-phone-inprogress .web-phone-i {
	-webkit-animation: wpnProgress 2s infinite;
	-moz-animation: wpnProgress 2s infinite;
	-o-animation: wpnProgress 2s infinite;
	animation: wpnProgress 2s infinite;
}

.web-phone-number {
	position: relative;
	height: 47px;
	margin: 0 3px;
}

.web-phone-number input {
	position: absolute;
	top: 21px;
	left: 0;
	display: none;
	width: 100%;
	height: 22px;
	margin: 0;
	padding: 0;
	background: none;
	border: 0 none;
	outline: 0;
	color: #fff;
	font: bold 20px Arial,sans-serif;
	text-align: center;
	-webkit-appearance: none;
}

.web-phone-active .web-phone-number input {
	display: block;
}

.web-phone-number input.long {
	font-size: 15px;
}

.web-phone-status {
	position: relative;
	overflow: hidden;
	margin: 0 0 12px;
	color: #fff;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	background: url(/js/admin/jssip/web-phone.png) no-repeat -9999px -9999px;
	border: 0 none; 
}

.web-phone-buttons {
	position: relative;
	height: 50px;
}

.web-phone-remove,
.web-phone-call,
.web-phone-end {
	position: absolute;
	display: block;
	background: url(/js/admin/jssip/web-phone.png) no-repeat;
}

.web-phone-remove {
	top: 9px;
	left: 21px;
	width: 50px;
	height: 31px;
	background-position: -380px 0;
}

.web-phone-active .web-phone-remove {
	background-position: -380px -50px;
	cursor: pointer;
}

.web-phone-active .web-phone-remove:hover {
	background-position: -380px -100px;
}

.web-phone-call {
	top: 0;
	left: 75px;
	width: 84px;
	height: 49px;
	background-position: -290px 0;
}

.web-phone-active .web-phone-call {
	background-position: -290px -50px;
	cursor: pointer;
}

.web-phone-active .web-phone-call:hover {
	background-position: -290px -100px;
}

.web-phone-end {
	top: 9px;
	right: 21px;
	width: 50px;
	height: 31px;
	background-position: -440px 0;
}

.web-phone-active .web-phone-end {
	background-position: -440px -50px;
	cursor: pointer;
}

.web-phone-active .web-phone-end:hover {
	background-position: -440px -100px;
}

.web-phone-numpad {
	padding: 6px 0 0;
}

.web-phone-numpad table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

.web-phone-numpad td {
	padding: 0;
	text-align: center;
}

.web-phone-numpad input {
	width: 64px;
	height: 37px;
	margin: 0;
	padding: 0;
	background: url(/js/admin/jssip/web-phone.png) no-repeat -9999px -9999px;
	border: 0 none;
	outline: 0;
	color: #fff;
	font: bold 21px Arial,sans-serif;
	text-align: center;
	text-shadow: 0 0 8px #74c9db;
	-webkit-appearance: none;
}

.web-phone-active .web-phone-numpad input {
	text-shadow: 0 0 8px #50e1ff, 0 0 8px #50e1ff;
}

.web-phone-active .web-phone-numpad input:hover {
	background-position: -290px -150px;
	cursor: pointer;
}

.web-phone-f {
	padding: 9px 2px 0;
	zoom: 1;
}

.web-phone-f:before,
.web-phone-f:after {display:table;content:"";}
.web-phone-f:after {clear:both;}

.web-phone-f-item {
	margin: 0 0 7px;
}

.web-phone-f-remember {
	float: left;
	padding-left: 53px;
	white-space: nowrap;
}

.web-phone-f-submit {
	float: right;
}

.web-phone-f label {
	zoom: 1;
}

.web-phone-f label:before,
.web-phone-f label:after {display:table;content:"";}
.web-phone-f label:after {clear:both;}

.web-phone-f .label {
	display: block;
	float: left;
	width: 53px;
	padding: 3px 0 0;
	color: #636363;
	font-size: 12px;
	font-weight: 700;
}

.web-phone-f .text {
	width: 171px;
	margin: 0;
	padding: 2px;
	background: #ddeeff;
	outline: none;
	box-shadow: 0 1px 0 rgba(255,255,255,.5), inset 0 0 0 1px #cae1f8;
	border: 1px solid #a4c5e9;
	border-radius: 3px;
	color: #000;
	font: 12px Arial, sans-serif;
	-webkit-appearance: none;
	-webkit-transition: background .15s ease;
	   -moz-transition: background .15s ease;
	    -ms-transition: background .15s ease;
	     -o-transition: background .15s ease;
	        transition: background .15s ease;
}

.web-phone-f .text:focus {
	background: #fff;
	box-shadow: 0 0 5px rgba(221,238,255,.75), inset 0 0 3px rgba(58,124,189,.5);
}

.web-phone-f .text-done {
	background: #f2f8ff;
}

.web-phone-f-remember .label {
	display: inline;
	float: none;
	font-size: 10px;
	font-weight: 400;
}

.web-phone-f-remember input {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.web-phone-f-submit input {
	display: block;
	width: 100px;
	height: 25px;
	margin: 0;
	padding: 0;
	background: url(/media/images/web-phone-f-submit.png) no-repeat;
	border: 0 none;
	color: #484848;
	font: 10px Arial, sans-serif;
	cursor: pointer;
}


/* tooltip */
.tooltip {
	position: relative;
	top: -1px;
	left: 2px;
	display: inline-block;
	vertical-align: middle;
}

.tooltip i {
	display: block;
	width: 12px;
	height: 12px;
	background: url(/media/images/sprite_private.png) no-repeat -47px -31px;
	cursor: pointer;
}

.tooltip-i {
	position: absolute;
	bottom: 100%;
	left: 50%;
	display: none;
	width: 230px;
	margin: 0 0 7px -28px;
	padding: 5px 9px 8px;
	background: #fff;
	box-shadow: 0 3px 3px #c6c6c6;
	border: 1px solid #327cdc;
	border-radius: 5px;
	color: #636363;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

/*paging*/

.paging {
	margin: -2px 0 0;
}

.paging ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.paging li {
	display: inline-block;
	margin: 0 2px;
	vertical-align: middle;
	color: #535353;
}

.paging .start a,
.paging .prev a,
.paging .next a,
.paging .end a {
	position: relative;
	top: -1px;
	display: block;
	width: 17px;
	height: 18px;
	background: url(/media/images/sprite_private.png) no-repeat;
	text-indent: -999em;
	text-decoration: none;
}

.paging .start {
	margin-right: 5px;
}

.paging .start a {
	background-position: 0 -63px;
}

.paging .prev {
	margin-right: 4px;
}

.paging .prev a {
	width: 14px;
	background-position: -18px -63px;
}

.paging .next {
	margin-left: 4px;
}

.paging .next a {
	width: 14px;
	background-position: -33px -63px;
}

.paging .end {
	margin-left: 5px;
}

.paging .end a {
	background-position: -48px -63px;
}

.paging .text {
	width: 32px;
	margin: 0 3px;
	padding: 5px 8px;
	background: #fff;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.06);
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	color: #535353;
	font: 14px Arial, sans-serif;
	text-align: center;
}

/*quick_links*/

#activ_td{
	
	background-color:#bff1ff;
	color:#00000;
		}
#td_4link_1, #td_4link_2, #td_4link_3, #td_4link_4{
	width:25%;
	cursor: default;
}
#activ_td_4link{
	hidth:25%;
	background-color:#bff1ff;
	color:#00000;
	cursor: default;
}

.quick_links{
	margin-bottom:-19px
	border:none;
	border-collapse: separate;
}
.quick_links td{
	font-family: Arial, sans-serif;
	font-size: 15px;
	letter-spacing: .02em;
	text-shadow: 0 -1px 0 #0c4594;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#2186F0;
	border: 1px solid #7BB4EF;
	padding:5px;
	text-decoration:none;
}
.quick_links a{
	text-decoration:none;
	color:#fff;
}
.quick_links input[type="submit"]{
	font-family: Arial, sans-serif;
	font-size: 15px;
	letter-spacing: .02em;
	text-shadow: 0 -1px 0 #0c4594;
	margin-top: -5px;
	margin-bottom: -5px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#2186F0;
	border: 0px solid #7BB4EF;
	padding:0px;
	color: white;
	cursor: pointer;
	width:96%;
}
.quick_links a:hover{
	text-decoration:none;
	color:#fff;
	text-decoration:underline;
	cursor: pointer;
}


/*end_quick_links*/

.qick_bytton_for_buy{
font-family: Arial, sans-serif;
	font-size: 15px;
	letter-spacing: .02em;
	text-shadow: 0 -1px 0 #0c4594;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#2186F0;
	border: 1px solid #7BB4EF;
	padding:5px;
	text-decoration:none;	
	color:#fff;
}
/*news_block*/
.news_body{
	width: 140px;
	background-color: white;
	margin-top: 20px;
	padding-bottom:3px;
	border-top: none;
}
.tit{
	width: 220px;
	height: 20px;
	border-radius: 6px 6px 0px 0px;
	color: #535353;
	font-size: 22px;
	line-height: 14px;
	margin-top: 35px;
	
}
.tit a{
	text-decoration:none;
	color: #535353;
}
.tit a:hover{
	text-decoration:none;
	color: #535353;
}

.iner_block{
	width: 237px;
	height: 100%;
	overflow:auto;
	
}
.news_text_win{
	display:none;
	margin-left:3px;
	margin-right:3px;
	margin-top:-14px;
}
.txt{
	
	color: #535353;
	font-size: 20px;
	line-height: 14px;
	margin-left: 28px;
	}

.title_news{
	color: #3a7cbd;
	font-size: 13px;
	line-height: 14px;
	margin-top: 0px;
	margin-bottom: 22px;
	max-height: 30px;
	min-height: 13px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.item_news{
	cursor: pointer;
}
.news_date_win{
	color: #9f9f9f;
	font-size: 10px;
	margin-top: -12px;
	margin-left: -2px;
}


	
.show > h4{
	color:#ff9000;
	max-height:50px;
}
.show .news_text_win{
	display:block;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*end news block*/



/*location search block*/

.search-button{
margin-left:360px;
background:#ccc;
width:39px;
height:27px;
background:url(/media/img/detach.png) no-repeat  0;
<!--margin-top: 35px;
margin-bottom: -10px;-->
}
.search-input{
float:left;
padding-left:5px;
width:300px;


}
#id_search {
width:339px;
height:25px;
border: solid burlywood 1px;
-webkit-border-radius:6px; 
-moz-border-radius:5px;
border-radius: 5px 5px 5px 5px;
margin-top:5px; 
padding-left: 9px;
font-size: 16px;
margin-bottom:5px;
}

select{ 
background: transparent;
width:350px;
padding: 5px;
font-size: 16px;
height: 29px;
border: solid burlywood 1px;
border-radius: 5px 5px 5px 5px;
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
}

#mod{
display: none;
margin-top: 41px;
margin-left: 5px;
background-color: white;
max-height:300px;
min-height:25px;
width:349px;
position: absolute ;
border: solid burlywood 1px;
border-radius: 5px 5px 5px 5px;
-webkit-border-radius:6px; 
-moz-border-radius:5px;
z-index: 999;
}

#id_search:-moz-placeholder { color: gray; font-size: 16px; font-family: Tahoma; }
#id_search::-webkit-input-placeholder { color: gray; font-size: 16px; font-family: Tahoma; }
#id_search:focus::-webkit-input-placeholder { color:transparent; }
#id_search:focus::-moz-placeholder { color:transparent; }

#result a{
text-decoration: none;
margin: 3px;
color: black;
font-size: 12px;
margin-right: -1px;
}
.close_button{
width: 15px;
height: 15px;
float: right;
margin-top: 7px;
margin-right: 3px;
background: url({{ MEDIA_URL }}images/close_bt15x15.png) no-repeat right ;
}
#result a:hover{
height: 20px;
width: 50px;
background-color: rgb(229, 234, 236);
border: blask 0px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
color: wite;
cursor: default;
}
#result {
color:black;
margin-left: 4px;
margin-top: 4px;
font-size: 14px;
font-family: Tahoma;
cursor: default;
}
.ymaps-map{
display:inline-block !important;
}
/*end location search block*/




/*notification success registration and email send */
#message_reg_success_block_header{ 
	padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
   
}
#message_reg_success_block_header #notification_email_send_main_block{
	margin: 5px 25px 7px -10px;  
	padding: 0 10px 7px;
	border: 2px solid #090 !important;
	border-radius: 5px;
	background: #ffeded;
	border-color: #090;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-left:5px;
	margin-right:30px;
	margin-top:5px;
	}



#message_reg_success_block_header .notification_email_send{       
     position: relative;
     float: right;
     right: 50%;
}

	
#message_reg_success_block_header .not_email_button_block_inter{    
	padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
    left: 50%;
}

#message_reg_success_block_header .not_email_button_block{     
     position: relative;
     float: right;
     right: 50%;
}
