div.combo-div{
    width: 100%;
}
div.combo-div img.combo-trigger{
    position: absolute;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
}
div.combo-div input.combo-keyword{
    width: 100%;
}
div.combo-div input.combo-keyword.readonly[readonly]{
    border: 1px solid #99BCE8;
}
div.combo-div input.combo-keyword[disabled="disabled"]{
    border-color: #cccccc !important;
}
div.combo-div input.combo-keyword.no-results{
    color: red;
}
div.combo-div input.combo-keyword.no-results-within{
    color: #aaaaaa;
}
div.combo-div span.combo-info{
    position: absolute;
    margin-top: -15px;
    font-size: 10px;
    visibility: hidden;
    display: none;
}
div.combo-div span.combo-info span.combo-count{
    width: 20px;
    display: inline-block;
    text-align: right;
}
div.combo-div span.combo-info img.combo-loader{
    position: relative;
    top: -1px;
    right: 2px;
}

div.combo-div div.combo-data{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #99BCE8;
    margin-top: -1px;
    z-index: 1;
    line-height: 13px;
}
div.combo-div div.combo-data ul {
    padding: 0px;
    margin: 0px;
}
div.combo-div div.combo-data ul li {
    list-style-type: none;
    list-style-position: outside;
    cursor: default;
    padding-left: 2px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid #dfffdf;
}
div.combo-div div.combo-data ul.tall li {
    border-bottom: 1px solid #99BCE8;
}
div.combo-div div.combo-data ul li:last-child{
    border-bottom: none;
}
div.combo-div div.combo-data ul li.selected {
    background-color: #ecffeb;
}
div.combo-div div.combo-data ul li.disabled, div.combo-div div.combo-data ul li.disabled *{
    color: #cccccc;
}
div.combo-div div.combo-data ul li.disabled[group] {
    font-style: italic;
    background-color: #dfe8f6;
    color: #0554c1;
    font-weight: bold;
}
div.combo-div div.combo-data ul li.disabled[group] *{
    color: inherit;
}