.main {
    font-size: 9pt; font-family: tahoma
}
.menu {
    font-size: 8pt; font-family: tahoma
}
.content {
    padding-right: 12px; padding-left: 12px; padding-bottom: 20px; padding-top: 30px
}

input {
    font-size: 8pt; height: 18px; width:250px;
    border: 1px solid #99BCE8;
}
.table_topics {
    font-size: 8pt; color: #596A8D; font-family: tahoma; background-color: #DDFFE0;  border: 1px solid #C7D4FF;
}
.incorrectMessage {
    color: red; font-size: 12px; font-family: tahoma; background-color: #ffdddd; border: 1px solid red; padding: 5px;
}
.title {
    font-weight: normal; font-size: 14pt; color: #000000; font-family: tahoma; vertical-align: bottom; float: left;
}
.form_table {
	font-weight: normal; font-size: 12px; color: #000000; font-family: tahoma;
}
.info {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma;
}
.info_3 {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma; background-color: #e5e5e5
}
.info_4 {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma; background-color: #e5f3e5
}
.info_5 {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma; background-color: #f3e5e5
}
.info_1 {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma; background-color: #d2e9ff
}
.info_2 {
    font-weight: normal; font-size: 8pt; color: #000000; font-family: tahoma; background-color: #99ccff
}
textarea {
    font-weight: normal; font-size: 9pt; color: #000000; font-family: tahoma
}
a:hover {
    text-decoration: none
}
select { font-size: 9pt;}
