/* Combo */
.i-combo .x-form-text {padding: 0;}
.i-combo {width: 100%; position: relative; border: none;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined > div {width: 1000%;}
.i-combo .i-combo-multiple {height: auto;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {overflow: hidden;}

/* Combo keyword */
.i-combo .i-combo-keyword {border: 0; width: 100% !important; padding-left: 1px; background: transparent;}
.x-panel .i-combo .i-combo-keyword{border: 0; background: transparent;}

/* Combo options data */
.x-boundlist-item {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: default;
    word-break: break-all;
    vertical-align: top;
    overflow: hidden;
}
.x-boundlist-item .i-combo-color-box {display: inline-block;}
.x-boundlist-item:last-child {
    border-bottom: none;
}
.x-boundlist-item-group *{
    color: inherit;
}
.x-boundlist-item-disabled, .x-boundlist-item-disabled * {
    color: #cccccc;
}
.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    font-style: italic;
    font-weight: bold;
}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item {
    cursor: default;
}
.i-combo .i-combo-multiple .i-combo-selected-item {
    white-space: nowrap; display: inline-block; float: left;
    margin-left: 1px; margin-top: 1px; font-size: 11px; line-height: 15px;
}

/* Combo info */
.i-combo .i-combo-infoCell {width: 1px;}
.i-combo .i-combo-info tr {vertical-align: middle;}
.i-combo .i-combo-info {display: none; white-space: nowrap; height: 100%;}

.i-combo .i-combo-info.i-combo-info-loading {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-foundCell {display: none;}

.i-combo .i-combo-info.i-combo-info-expanded {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-countCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-ofCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-ofCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-foundCell {display: table-cell;}


/* Combo table */
.i-combo .i-combo-single .i-combo-table {width: 100%; height: 100%;}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {float: left;}

/* Combo color box */
.i-combo .i-combo-single .i-combo-color-box-cell {width: 1px;}
.i-combo .i-combo-multiple .i-combo-color-box-cell .i-combo-color-box-div{width: 0; display: none;}
.i-combo .i-combo-color-box {display: inline-block;}
.i-combo .i-combo-single .i-combo-color-box-cell .i-combo-color-box{margin: 0 2px 0 3px;}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    width: 0;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    background-repeat: no-repeat; background-position: 0 0; width: 8px; height: 8px; display: inline-block;
    cursor: pointer; vertical-align: initial;
    margin-left: 2px; background-image: url(/i/admin/combo-multiple-selected-item-delete.png);
}
.i-combo.i-combo-jump .i-combo-multiple .i-combo-selected-item {
    cursor: pointer;
}

/* Disabled styling*/
.i-combo .i-combo-keyword[disabled] {background: inherit;}
.x-item-disabled .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    cursor: default;
}
.x-item-disabled .x-form-text {
    filter: alpha(opacity=30);
    opacity: .3;
}
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    filter: alpha(opacity=30);
    opacity: .3;
}
