/* Not fully beautified yet styles */
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload span.radio{
    display: inline-block;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.radio,
.i-action-form .i-form .i-form-table tr td:first-child  + td span.checkbox {
    display: block;
    padding-left: 15px;
    margin-top: 2px;
    margin-bottom: 1px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.radio label{
    position: relative;
    top: -1px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload.no-file-yet {
    position: relative !important;
    padding: 3px 0 0 0;
    display: inline-block;
    margin-bottom: -1px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload span.radio {
    display: inline;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload a {
    position: relative;
    top: -1px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload.no-file-yet span.selected-fname {
    height: 16px;
    position: relative;
    top: -1px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload span.selected-fname {
    border: 1px solid #99BCE8;
    padding: 0px 2px 0px 2px;
    display: none;
    max-width: 250px;
    overflow: hidden;
    height: 15px;
    word-break: break-all;
    position: relative;
    margin-right: 4px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 1px;
    overflow: hidden;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload {
    position: absolute;
    height: 19px;
    padding: 3px 0px 0 4px;
}
.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload span.selected {
    position: relative;
    top: -1px;
    display: none;
}
.i-action-form .i-form .i-form-table .i-form-table-field-control-cell{
    padding: 1px 0 1px 0;
}
span.radio{background: url(/i/admin/radio.png) no-repeat;}
span.radio.disabled{background: url(/i/admin/radio-disabled.png) no-repeat;}
span.radio.checked{background: url(/i/admin/radioChecked.png) no-repeat;}
span.radio.checked.disabled{background: url(/i/admin/radio-checked-disabled.png) no-repeat;}
span.checkbox{background: url(/i/admin/checkbox.png) no-repeat;}
span.checkbox.disabled, table.multicheckbox.disabled span.checkbox{background: url(/i/admin/checkbox-disabled.png) no-repeat;}
span.checkbox.checked{background: url(/i/admin/checkboxChecked.png) no-repeat;}
span.checkbox.checked.disabled, table.multicheckbox.disabled span.checkbox.checked{
    background: url(/i/admin/checkbox-checked-disabled.png) no-repeat;
}
span.upload{background: url(/i/admin/transparentBg.png);}

/* Browser fixes */
.x-ie9.i-action-form .i-form table tr td textarea,
.x-ie8.i-action-form .i-form table tr td textarea{
    margin-bottom: 1px;
}
.x-chrome.i-action-form .i-form table tr td textarea, 
.x-safari.i-action-form .i-form table tr td textarea{
    margin-bottom: -2px;
}
.x-safari.i-action-form .i-form table tr td input[type=text]{
    padding-top: 4px;
    padding-left: 1px;
}
.x-safari.i-action-form .i-form table tr td:last-child span.upload {
    margin-top: 0px;
}
.x-ie9.i-action-form .i-form table tr td input[type=text],
.x-ie8.i-action-form .i-form table tr td input[type=text]{
    padding-top: 2px;
}
.x-ie8.i-action-form .i-form table tr td .i-element-calendar-wrapper,
.x-ie8.i-action-form .i-form table tr td .i-element-datetime-wrapper{
    position: relative;
    top: -1px;
}
.x-ie8.i-action-form .i-form .i-form-table tr td:first-child  + td span.upload.no-file-yet{
    top: 0px !important;
}
