/* Combo */
.i-combo .x-form-text {font-size: 11px;}
.i-combo {line-height: 15px;}
.x-form-trigger-wrap-focus .i-combo .x-form-text {border: 1px solid #99BCE8;}
.i-combo .i-combo-multiple {padding-bottom: 1px;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {height: 19px;}

/* Combo keyword */
.i-combo .i-combo-keyword {height: 15px;}
.i-combo.i-combo-form .i-combo-keyword {height: 16px;}
.i-combo .i-combo-multiple .i-combo-keyword {margin-left: 1px;}
.x-panel .i-combo .i-combo-multiple .i-combo-keyword {margin-left: 1px; padding-left: 1px;}

/* Combo options data */
.x-boundlist{
    line-height: 13px;
}
.x-boundlist-item {
    border-bottom: 1px solid #e0eeff;
    padding: 0 2px 0 2px;
    font-size: 11px;
}
.x-boundlist-item-over{
    background-color: #ecffeb;
}
.x-boundlist-item .i-combo-color-box {width: 14px; height: 9px;}
.x-boundlist-item .i-combo-color-box[style*="background: url"] {width: 16px; height: 16px;}

.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    background-color: #dfe8f6;
    color: #0554c1;
}

/* Combo table */
.i-combo .i-combo-multiple .i-combo-table {margin-bottom: -3px;}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {height: 17px; margin-bottom: -1px;}

/* Combo info */
.i-combo .i-combo-info {font-size: 10px;}
.i-combo .i-combo-info-div {height: 17px; padding-right: 1px;}
.i-combo .i-combo-info td {height: 17px; padding-top: 1px;}
.i-combo .i-combo-info .i-combo-info-countCell,
.i-combo .i-combo-info .i-combo-info-loadingCell{padding-right: 3px;}
.i-combo .i-combo-info .i-combo-info-loadingCell img {width: 15px;}
.i-combo .i-combo-info .i-combo-found {padding-right: 1px; padding-left: 1px; border: 1px solid rgba(255, 255, 255, 0);}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-found {
    padding-bottom: 1px; background-color: #C2FCC2; border: 1px solid #1BBB0D;}

/* Combo color box */
.i-combo .i-combo-color-box {width: 14px; height: 9px;}
.i-combo .i-combo-color-box[style*="background: url"] {width: 16px; height: 15px;}

/* Combo multiple selected items*/
.i-combo .i-combo-multiple .i-combo-selected-item {
    background-color: #DFE8F6; padding: 0 2px 0 2px;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
}
.x-panel .i-combo .i-combo-multiple .i-combo-selected-item,
.i-combo.i-combo-filter .i-combo-multiple .i-combo-selected-item {
    border-top: 1px solid white; border-left: 1px solid white; margin-top: 0; margin-left: 0;
}

/* Error styling*/
.x-form-invalid .i-combo .x-form-text {
    background-color: white;
    background-image: url('../../resources/themes/images/default/grid/invalid_line.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    border-color: #c30;
}

/* Disabled styling */
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    border: 1px solid #b5b8c8 !important;
    background: url('../../resources/themes/images/default/form/text-bg.gif');
}

/* Browser fixes */
.x-gecko .i-combo-info * {font-size: 9px;}
.x-gecko .i-combo-table td > *{position: relative;top: -1px;}
.x-gecko .i-combo-table td .i-combo-info-div{position: relative;top: 0px;}
.x-gecko .i-combo.i-combo-form .i-combo-keyword{padding-top: 1px;}
.x-safari .i-combo .i-combo-single input[type=text].i-combo-keyword {padding-left: 0px; margin-top: 0px;}
.x-safari .i-combo .i-combo-multiple input[type=text].i-combo-keyword {padding-left: 0px; margin-top: 1px;}
.x-safari .i-combo-form .i-combo-single input[type=text].i-combo-keyword {padding-left: 0px; margin-top: 1px;}
.x-safari .i-combo-form .i-combo-multiple input[type=text].i-combo-keyword {padding-left: 0px; margin-top: 1px;}
.x-safari input[type=text].x-form-text {padding-left: 1px;}
.x-ie8 .i-combo .i-combo-single input[type=text].i-combo-keyword {padding-top: 1px;}
.x-ie9 .i-combo .i-combo-single input[type=text].i-combo-keyword {padding-top: 0px;}
.x-ie8 .i-combo.i-combo-sibling .i-combo-info,.x-ie8 .i-combo.i-combo-filter .i-combo-info {margin-top: 2px;}
.x-ie8 .i-combo.i-combo-form .i-combo-info {margin-top: -16px;}
.x-ie9 .i-combo.i-combo-sibling .i-combo-info .i-combo-found,
.x-ie9 .i-combo.i-combo-filter .i-combo-info .i-combo-found {
    line-height: 12px; padding-bottom: 0px; height: 14px; display: inline-block; overflow: hidden; position: relative;
    top: -1px;
}
.x-gecko.x-nlg .i-combo-table td > *{position: relative;top: 0px;}
.x-gecko.x-nlg .i-combo-table td.i-combo-trigger-cell > *{position: relative;top: -1px;}
.x-gecko.x-nlg .i-combo-form .i-combo-table td.i-combo-trigger-cell > *{position: relative;top: 0px;}
.x-gecko.x-nlg .i-combo.i-combo-form .i-combo-keyword{padding-top: 2px;}
.x-gecko.x-nlg .i-combo .i-combo-info-fetched-all.i-combo-info .i-combo-found {padding-top: 1px;}

.x-ie9p .i-combo .i-combo-table td.i-combo-trigger-cell > *{position: relative;top: -1px;}
.x-ie9p .i-combo.i-combo-form .i-combo-table td.i-combo-trigger-cell > *{position: relative;top: 0px;}
.x-ie9p .i-combo .i-combo-info * {font-size: 9px;}
.x-ie9p .i-combo .i-combo-info-fetched-all.i-combo-info .i-combo-found {padding-top: 1px;}
.x-ie9p.x-ie9 .i-combo-sibling.i-combo .i-combo-info .i-combo-found,
.x-ie9p.x-ie9 .i-combo-filter.i-combo .i-combo-info .i-combo-found{
    padding-top: 0px; height: 15px;
}
.x-ie9p.x-ie9 .i-combo.i-combo-form .i-combo-table td.i-combo-trigger-cell > *{position: relative;top: 0px;}

.x-ie8 .i-combo-table td > *{position: relative;top: -1px;}
.x-ie8 .i-combo-form .i-combo-table td > *{position: relative;top: 0px;}
.x-ie8 .i-combo-table .i-combo-info {font-size: 9px;}
.x-ie8 .i-combo .i-combo-info-fetched-all.i-combo-info .i-combo-found {padding-top: 1px;}
.x-ie8 .i-combo.i-combo-form .i-combo-single .i-combo-keyword-div .i-combo-keyword{padding-top: 2px;}