.i-dialer .x-panel-body, .i-dialer-remove, .i-dialer-call, .i-dialer-end {
    background: url(/i/admin/i-sprite-dialer.png) no-repeat;
}
.i-dialer-remove {
    background-position: -326px -50px;
    margin-right: 5px;
}
.i-dialer-remove:hover {
    background-position: -326px -100px;
}
.i-dialer-end {
    background-position: -386px -50px;
    margin-left: 5px;
}
.i-dialer-end:hover {
    background-position: -386px -100px;
}
.i-dialer-call {
    background-position: -236px -50px;
}
.i-dialer-call:hover {
    background-position: -236px -100px;
}
.i-dialer input[name="phone"] {
    height: 30px;
    font-size: 15px;
    text-align: center;
}
.i-dialer .x-form-display-field {
    padding-top: 0;
}
.i-dialer-call.js-end_client_call {
    background-position: -236px 0px;
}
.i-dialer-call.js-end_client_call .x-btn-center,
.i-dialer-call.i-dialer-call-request .x-btn-center {
    cursor: wait !important;
    -webkit-animation: i-stripes 2s linear infinite;
    -o-animation: i-stripes 2s linear infinite;
    animation: i-stripes 2s linear infinite;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)!important;
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    -o-background-size:  60px 60px !important;
    -moz-background-size:  60px 60px !important;
    -webkit-background-size: 60px 60px !important;
    background-size: 60px 60px !important;
    background-repeat: repeat !important;
}
@-webkit-keyframes i-stripes {
    from {background-position: -60px 0} to{background-position:0 0}
}
@-o-keyframes i-stripes {
    from {background-position: -60px 0} to {background-position:0 0}
}
@keyframes i-stripes {
    from {background-position: -60px 0} to {background-position:0 0}
}
