/* General */
*{color: #04408C;}
.x-css-shadow{display: none !important;}
.x-textmetrics{font-size: 11px !important;}
.x-border-box .x-field-default-toolbar .x-form-trigger,
.x-border-box .x-field-default-toolbar .x-form-text,
.x-border-box .x-form-trigger,.x-border-box .x-form-text{height: 19px; line-height: 13px;}
.x-form-field, .x-form-display-field {font-size: 11px; color: #04408C;}
.x-form-item-label{padding: 1px 0;}
.i-color-box{width: 14px; display: inline-block; height: 11px; position: relative; top: 1px; margin-right: 3px;}
.i-color-box-wrap .i-color-box, i-bgimg-box-wrap .i-color-box {margin: 0;}
.i-color-box-wrap .i-color-box[style*="background: url"],
.i-bgimg-box-wrap .i-color-box[style*="background: url"] {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: -3px;
    position: relative;
    top: 2px;
}
.i-color-box-wrap {text-align: center;}
.x-btn .x-btn-inner{color: #04408C}
input[type=text],input[type=password]{padding-left: 2px; padding-right: 2px;}
.i-inline-block{display: inline-block;}

/* Login screen */
.i-login{
    background-color: #dfe8f6;
}
#i-login-box{
    width: 300px;
    height: 125px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -150px;
}
#i-login-box .x-form-cb-wrap {
    padding-top: 2px;
}

/* Logo */
#i-logo .x-panel-body-default{
    background: none;
}

/* Menu */
.i-menu-root-item.x-grid-cell{
    background-color: #D9E7F8 !important;
    border-bottom: 1px solid #C8D6E7;
}
.i-menu-leaf-item.x-grid-cell{
    border-bottom: 1px solid #e0eeff;
}
.i-menu-leaf-item-icon {
    background-image: none !important;
    width: 0;
}
#i-menu .x-grid-row-over.x-grid-tree-node-leaf td div{
    background-color: #ecffeb !important;
}
#i-menu .x-grid-row-selected.x-grid-tree-node-leaf td div{
    background-color: #dfffdf !important;
}

/* Center region */
#i-center > .x-panel-body-default{
    border: none;
}
#i-section-index-action-index-content{
    padding: 10px;
}
/* North subregion of center region */
#i-center-north{
    height: auto !important;
    overflow: visible;
    z-index: 101;
}
#i-center-north .x-panel-body {
    overflow: visible;
    z-index: 100;
    height: auto !important;
    background-color: #DFE8F6 !important;
}
#i-center-north-date {
    float: right;
}
#i-center-north-admin {
    text-align: left;
    margin-bottom: 5px;
}

#i-center-north-trail {
    height: 17px;
    border: 1px solid #99BCE8;
    background-color: white;
    padding-top: 0px;
    padding-left: 2px;
}

/* Panel default style adjustments */
.x-panel-header-text-default{
    font-weight: normal !important;
}
.x-btn-default-toolbar-small-over, .x-btn-default-toolbar-small, .x-menu-item-active .x-menu-item-link {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.x-field-default-toolbar .x-form-item-label-left {
    padding-left: 0;
}
.x-field-default-toolbar .x-form-display-field{
    padding-top: 0;
    margin-top: -1px;
}

/* Grids default style adjustments */
.x-column-header-inner{
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 3px 4px 6px;
}

.x-column-header-last {
    border-right-width: 0 !important;
}
.i-grid-column-span-right {
    border-right-style: dashed;
}
.x-grid-group-title {font-weight: normal;}
.x-grid-row-summary .x-grid-cell {
    color: null;
    font: normal 11px/15px tahoma,arial,verdana,sans-serif;
    background-color: white;
    border-color: #ededed;
    border-style: solid;
    border-top-color: #fafafa;
    border-width: 0;
}
.x-grid-with-row-lines .x-grid-row-selected td.x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #dfffdf !important;
    border-top: 1px solid #dfffdf;
    border-bottom: 1px solid #e0eeff;
}
.x-grid-with-row-lines .x-grid-row-over td.x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div {
    background-color: #ecffeb !important;
    border-top: 1px solid #ecffeb;
    border-bottom: 1px solid #e0eeff;
}
.i-grid-row-disabled .x-grid-cell .x-grid-cell-inner, .i-grid-row-disabled .x-grid-cell .x-grid-cell-inner font{
    color: lightgray !important;
}
.i-grid-row-disabled.x-grid-row-over .x-grid-cell,
.i-grid-row-disabled.x-grid-row-over .x-grid-rowwrap-div {
    background-color: white !important;
    border-color: #ededed;
    border-top-color: #fafafa;
}
.i-grid-row-disabled.x-grid-row-alt.x-grid-row-over .x-grid-cell,
.i-grid-row-disabled.x-grid-row-over .x-grid-rowwrap-div {
    background-color: #fafafa !important;
    border-color: #ededed;
    border-top-color: #fafafa;
}
.i-grid-filtered-column-cell{
    opacity: 0.8;
}
.i-tool-search-reset .x-tool-search{
    background-position: 0 -360px;
}
.i-tool-search-reset.x-tool-over .x-tool-search {
    background-position: -15px -360px;
}

/* Grid editor styles adjustments */
.x-grid-editor .x-form-text {
    padding: 0 2px;
}
.x-border-box .x-grid-editor .x-form-text, .x-border-box .x-grid-row-editor .x-form-text {
    height: 19px;
}
.x-editor.x-small-editor.x-grid-editor.x-layer.x-editor-default {
    margin-top: 1px;
}
.x-grid-dirty-cell {
    background-image: url('/i/admin/dirty-orange.gif');
}

/* Indi combos default style adjustments - for cases, when indi combos are used as an ext components*/
.i-filter-combo .x-panel-body-default{
    background: transparent;
}
.i-filter-combo-label{
    font-size: 11px;
    line-height: 15px;
}
.i-filter-combo-component{
    top: 1px;
}
.i-filter-combo-component .x-panel-body{
    background: transparent;
}

/* Adjustments, especially for filtering panels */
.x-toolbar .x-item-disabled .x-form-item-label,
.x-toolbar .x-item-disabled .x-form-cb-label {
    filter: alpha(opacity=100);
    opacity: 1;
}

/* Fieldset default style adjustments*/
.x-fieldset-header-text{
    color:  #04408C;
    font: 10px arial;
    line-height: 8px;
}
.x-fieldset{
    border: 1px solid #99bce8;
}

/*Ext spinner (xtype: numberfield) style adjustments*/
.x-form-spinner-up{
    margin-top: -1px;
}
.x-field-default-toolbar .x-form-trigger-wrap .x-form-spinner-up,
.x-field-default-toolbar .x-form-trigger-wrap .x-form-spinner-down,
.x-form-trigger-wrap .x-form-spinner-up,
.x-form-trigger-wrap .x-form-spinner-down{
    height: 9px !important;
}
.x-form-trigger-wrap .x-form-spinner-down{
    position: relative;
    top: 1px;
    background-position: 0 -13px !important;
}
.x-form-trigger-wrap .x-form-spinner-down.x-form-trigger-over.x-form-spinner-down-over,
.x-form-trigger-wrap-focus .x-form-spinner-down.x-form-trigger {
    background-position: -17px -13px !important;
}
.x-form-trigger-wrap-focus .x-form-spinner-down.x-form-spinner-down-over.x-form-trigger-over{
    background-position: -68px -13px !important;
}
.x-form-trigger-wrap .x-form-spinner-down.x-form-spinner-down-over.x-form-spinner-down-click {
    background-position: -34px -13px !important;
}

/* Color multislider filter style adjustments */
.i-multislider-color .x-slider-horz, .i-multislider-color .x-slider-horz .x-slider-end {
    background: none;
}
.i-multislider-color-label{
    margin-top: -1px;
}
.i-multislider-color .x-slider-horz .x-slider-inner {
    background: url(/i/admin/i-color-slider-bg.png) no-repeat 0px 3px;
}
.i-multislider-color .x-slider-horz .x-slider-inner .x-slider-thumb:first-child {
    background-image: url(/i/admin/i-color-slider-thumb-first.png);
}
.i-multislider-color .x-slider-horz .x-slider-inner .x-slider-thumb:last-child {
    background-image: url(/i/admin/i-color-slider-thumb-last.png);
}


/*Form topbar styles - here (mean not in indi.action.form.css), because topbar styles are not affected by iframe styles*/
.i-action-form-topbar-nav-to-row-number-of .x-form-item-label{
    padding: 0;
    margin-top: -1px;
}

/* Buttons background */
.i-btn-icon-create{background-image: url('/i/admin/btn-icon-create.png');}
.i-btn-icon-form{background-image: url('/i/admin/btn-icon-form.png');}
.i-btn-icon-delete{background-image: url('/i/admin/btn-icon-delete.png');}
.i-btn-icon-mark4delete{background-image: url('/i/admin/btn-icon-mark4delete.png');}
.i-btn-icon-back{background-image: url('/i/admin/btn-icon-back.png');}
.i-btn-icon-save{background-image: url('/i/admin/btn-icon-save.png');}
.i-btn-icon-toggle{background-image: url('/i/admin/btn-icon-toggle.png');}
.i-btn-icon-reset{background-image: url('/i/admin/btn-icon-reset.png');}
.i-btn-icon-up{background-image: url('/i/admin/btn-icon-up.png');}
.i-btn-icon-down{background-image: url('/i/admin/btn-icon-down.png');}
.i-btn-icon-xls{background-image: url('/i/admin/btn-icon-xls.png');}
.i-btn-icon-pdf{background-image: url('/i/admin/btn-icon-pdf.png');}
.i-btn-icon-print{background-image: url('/i/admin/btn-icon-print.png');}
.i-btn-icon-reload{background-image: url('/i/admin/btn-icon-reload.png');}
.i-btn-icon-close{background-image: url('/i/admin/btn-icon-close.png');}
.i-btn-icon-loading{background-image: url('/i/admin/btn-icon-loading.gif'); background-position: inherit;}

/* Browsers fixes */
.x-ie .x-fieldset .x-fieldset-body {
    padding-top: 0px !important;
}
.x-ie.x-ie8 .x-fieldset .x-fieldset-body {
    padding-top: 1px !important;
}
.x-gecko .x-btn-inner{
    margin-top: -1px;
}
.x-gecko .x-form-trigger-wrap.x-unselectable .x-form-text{
    padding-left: 2px;
}
.x-gecko #i-menu .i-menu-leaf-item .x-grid-cell-inner{
    padding-left: 3px;
}
.x-gecko #i-center-north-admin {
    margin-bottom: 3px;
}

.x-ie9 #i-center-north-admin,
.x-ie8 #i-center-north-admin ,
.x-safari #i-center-north-admin{
    min-height: 16px;
    margin-top: 1px;
}
.x-ie9 #i-center-north-trail, 
.x-ie8 #i-center-north-trail,
.x-safari #i-center-north-trail {
    padding-top: 1px;
    margin-top: -1px;
}
.x-ie8 input[type=text]{
    padding-top: 1px;
}
.x-ie8 input[type=text].x-form-text,
.x-ie8 input[type=password].x-form-text{
    padding-top: 2px;
}
.x-safari input[type=text],
.x-safari input[type=password],
.x-gecko input[type=text].x-form-text,
.x-gecko input[type=password].x-form-text{
    padding-left: 2px;
}
.x-ie8.i-login .x-form-checkbox{
    margin-top: 1px;
}
.x-ie8 .x-btn-default-toolbar-small  .x-btn-center .x-btn-inner{
    position: relative;
    top: -1px;
}
.x-ie8 .x-btn-default-toolbar-small  .x-btn-center .x-btn-inner.x-tbar-page-prev, 
.x-ie8 .x-btn-default-toolbar-small  .x-btn-center .x-btn-inner.x-tbar-page-next{
    position: relative;
    top: 0px;
}
.x-gecko #i-login-box .x-form-cb-wrap,
.x-safari #i-login-box .x-form-cb-wrap {
    padding-top: 1px;
}

/* Shrink list styles */
.x-shrinklist {background: white; position: relative; line-height: 15px; overflow: hidden;
    font-size: 11px; padding: 0 1px 0 0; border: 1px solid #b5b8c8; top: 1px; height: 19px;}

.x-shrinklist .x-toolbar {border-width: 1px 0 0 0;}
.x-strict .x-ie6 .x-shrinklist-list-ct, .x-strict .x-ie7 .x-shrinklist-list-ct {position: relative;}

.x-shrinklist-item {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    cursor: default;
    cursor: pointer;
    cursor: hand;
    position: relative;

    margin-left: 1px; background-color: #d0e7ff; padding: 0 3px 0px 3px;
    border-top: 1px solid white; display: inline-block; font-size: 11px; line-height: 15px;
    overflow: hidden; height: 16px;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#dbeeff),color-stop(48%,#d0e7ff),color-stop(52%,#BBF0EE),color-stop(100%,#bed6f5));
    background-image: -webkit-linear-gradient(top,#dbeeff,#d0e7ff 48%,#BBF0EE 52%,#bed6f5);
    background-image: -moz-linear-gradient(top,#dbeeff,#d0e7ff 48%,#BBF0EE 52%,#bed6f5);
    background-image: -o-linear-gradient(top,#dbeeff,#d0e7ff 48%,#BBF0EE 52%,#bed6f5);
    background-image: -ms-linear-gradient(top,#dbeeff,#d0e7ff 48%,#BBF0EE 52%,#bed6f5);
    background-image: linear-gradient(top,#dbeeff,#d0e7ff 48%,#BBF0EE 52%,#bed6f5);
    float: left;
}

/*.x-shrinklist-selected {
    background: #cbdaf0;
    border-color: #8eabe4;
}*/
.x-shrinklist-item-active, .x-shrinklist-item:active {
    background-color: #bed6f5;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#bccfe5),color-stop(48%,#c5d6e7),color-stop(52%,#A7D2FD),color-stop(100%,#9fc9f5));
    background-image: -webkit-linear-gradient(top,#bccfe5,#c5d6e7 48%,#A7D2FD 52%,#9fc9f5);
    background-image: -moz-linear-gradient(top,#bccfe5,#c5d6e7 48%,#A7D2FD 52%,#9fc9f5);
    background-image: -o-linear-gradient(top,#bccfe5,#c5d6e7 48%,#A7D2FD 52%,#9fc9f5);
    background-image: -ms-linear-gradient(top,#bccfe5,#c5d6e7 48%,#A7D2FD 52%,#9fc9f5);
    background-image: linear-gradient(top,#bccfe5,#c5d6e7 48%,#A7D2FD 52%,#9fc9f5);
}

.x-shrinklist-item-over {
    background-color: #aaccf6;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ebf3fd),color-stop(39%,#ebf3fd),color-stop(40%,#d9e8fb),color-stop(100%,#d9e8fb));
    background-image: -webkit-linear-gradient(top,#ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
    background-image: -moz-linear-gradient(top,#ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
    background-image: -o-linear-gradient(top,#ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
    background-image: -ms-linear-gradient(top,#ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
    background-image: linear-gradient(top,#ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);
}

.x-shrinklist-item-title {display: inline-block; overflow: hidden; white-space: nowrap;}
.x-shrinklist-item-dots {float: right;}

.x-shrinklist-floating {border-top-width: 0;}
.x-shrinklist-above {border-top-width: 1px; border-bottom-width: 1px;}
.x-shrinklist-list-ct {width: 200%;}

.i-cb-autosave .x-form-cb-wrap{padding-top: 0;}
.i-action-form-topbar-button-save.x-btn-default-toolbar-small .x-btn-inner{
    padding-right: 0px;
}
.x-trigger-noedit {
    cursor: default;
}

.i-grid-column-multiline .x-column-header-inner .x-column-header-text {
    white-space: normal;
}
.i-grid-column-multiline {
    height: auto !important;
}
.i-grid-column-autoheight {
    height: auto !important;
}
.i-grid-column-multiline .x-column-header-inner {
    text-align: center;
}
.x-column-header.i-tooltip .x-column-header-text {
    border-bottom: 1px dotted gray;
}
.i-prompt .x-form-item-label {
    padding-left: 0;
}

.i-grid-cell-color-lightgray .x-grid-cell-inner{
    color: lightgray;
}
.i-grid-cell-color-red .x-grid-cell-inner{
    color: red;
}