textarea.x-form-field {
    color: inherit;
}
/* Dirty icon */
.i-field-dirty-icon {
    background-image: url('/i/admin/dirty-orange.gif');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    position: absolute;
}

/* Errors styling */
.x-form-invalid-tip-default {
    background-color: rgba(204, 51, 0, 0.8);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    padding: 4px 6px 4px 8px;
}
.x-form-invalid-tip {
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.x-form-invalid-tip-body {
    background-image: none;
    padding-left: 0;
}
.x-form-invalid-tip-body li {
    color: white;
}
.x-tip-header, .x-tip-body, .x-form-invalid-tip-body{
    text-shadow: none;
}

/* Tooltip styles */
.i-tip {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    padding: 1px 2px 2px 2px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: blue;
    border-color: blue;
    opacity: 0;
}
.x-nlg .x-tip-mc {
    background-color: blue;
    background-image: none;
}
.x-nbr .x-tip-tl, .x-nbr .x-tip-tc, .x-nbr .x-tip-tr, .x-nbr .x-tip-ml, .x-nbr .x-tip-mr, .x-nbr .x-tip-bl, .x-nbr .x-tip-bc, .x-nbr .x-tip-br{
    background-color: blue;
    background-image: none;
}
.x-ie-shadow{
    background: none;
}
.i-tip .x-tip-body{color: white;}
.i-tip .x-tip-anchor.x-tip-anchor-bottom{border-top-color: inherit;}
.i-tip .x-tip-anchor.x-tip-anchor-top{border-bottom-color: inherit;}
.i-tip .x-tip-anchor.x-tip-anchor-right{border-left-color: inherit;}
.i-tip .x-tip-anchor.x-tip-anchor-left{border-right-color: inherit;}
.i-tip .x-tip-anchor{ display: inherit !important;}

[jump],[load]{cursor: pointer;}
.x-grid-cell-inner [load],.x-grid-cell-inner [jump]{text-decoration: underline;}