.x-form-item-label, .x-form-item-label-top, .x-form-cb-label-after {
    font-size: 11px;
}
.x-form-item-body > .cke, .x-form-item-body > .cke_chrome{
    display: inline-block !important;
}
.x-form-item-label-top {
    text-align: center;
    padding: 2px 0 5px 0;
}
.x-form-item-label {
    padding-left: 2px;
}
.x-form-cb-label-after {
    margin-left: 2px;
    position: relative;
    top: -1px;
    width: 84%;
    overflow: hidden;
    /*position: absolute;*/
    white-space: nowrap;
}
.i-field{
    border-top-width: 1px !important;
    border-color: #C7D4FF;
    border-style: solid;
    margin-bottom: 0;
}

.i-field > tbody > tr > .x-form-item-body, .i-field > tr > .x-form-item-body{
    width: 50% !important;
}

.i-field.i-field-date .x-form-trigger-wrap{
    width: 79px !important;
}
.i-field.i-field-date.x-form-readonly .x-form-trigger-wrap{
    width: 63px !important;
}
.i-field.i-field-datetime .x-form-trigger-wrap{
    width: 126px !important;
}
.i-field.i-field-datetime.x-form-readonly .x-form-trigger-wrap{
    width: 110px !important;
}
.i-field.i-field-number .x-form-trigger-wrap{
    width: 100px !important;
}
.i-field.i-field-number.x-form-readonly .x-form-trigger-wrap{
    width: 84px !important;
}
.i-field.i-field-number .i-field-number-after {
    position: absolute; margin-top: -17px; margin-left: 104px; font-size: 11px;
}
.i-field.i-field-number.x-form-readonly .i-field-number-after {
    margin-left: 87px;
}
.i-field-time .x-form-text{
    text-align: right;
}
.i-field .x-form-item-body{
    padding: 1px 0 1px 0;
}
.i-field .x-field .x-form-item-body{
    padding: 0;
}
.i-field .x-field-label-cell, .i-field .x-form-item-body{
    vertical-align: middle;
}
.i-field.i-field-span .x-form-display-field{
    text-align: center;
    padding-top: 0;
}
.i-field.i-field-span {
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    border-right-style: solid;
    background-color: #DDFFE0;
    height: 22px;
}

.i-field .x-form-radio-group .x-checkboxgroup-form-item {
    margin-bottom: 0;
    width: 100%;
}
.i-field .x-form-check-group .x-checkboxgroup-form-item {
    margin-bottom: 1px;
    width: 100%;
}
.i-field.i-field-multicheck .x-form-checkboxgroup-body {
    padding: 2px 0 0 0;
}

/* Style for action form topbar spinners*/
.x-toolbar .x-form-trigger-wrap .x-form-spinner-down{
    background-position: 0 -11px;
}
.x-toolbar .x-form-trigger-wrap .x-form-spinner-down.x-form-trigger-over.x-form-spinner-down-over,
.x-toolbar .x-form-trigger-wrap-focus .x-form-spinner-down.x-form-trigger {
    background-position: -17px -11px;
}
.x-toolbar .x-form-trigger-wrap-focus .x-form-spinner-down.x-form-spinner-down-over.x-form-trigger-over{
    background-position: -68px -11px;
}
.x-toolbar .x-form-trigger-wrap .x-form-spinner-down.x-form-spinner-down-over.x-form-spinner-down-click {
    background-position: -34px -11px;
}

.i-radio-color-box {width: 14px; height: 10px; display: inline-block; position: relative; top: 1px; margin-right: 4px;}

/* Browser fixes */
.x-safari .x-form-cb-label.x-form-cb-label-after{
    top: 1px !important;
}