/* Combo */
.i-combo .x-form-text {/*font-size: 11px;*/}
.x-form-trigger-wrap-focus .i-combo .x-form-text {border-color: #C0BCA7 #E7E3C8 #E7E3C8 #E7E3C8; background: #FFFBE6;}
.i-combo .i-combo-multiple {/*padding-bottom: 1px;*/}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {/*height: 19px;*/}

/* Combo keyword */
.i-combo .i-combo-keyword {height: 19px;}
.i-combo.i-combo-form .i-combo-keyword {height: 19px; padding-left: 3px;}
.i-combo .i-combo-multiple .i-combo-keyword {/*margin-left: 1px;*/}
.x-panel .i-combo .i-combo-multiple .i-combo-keyword {/*margin-left: 1px; padding-left: 1px;*/}

/* Combo options data */
.x-boundlist-item {
    /*border-bottom: 1px solid #e0eeff;
    padding: 0 2px 0 2px;
    font-size: 11px;*/
}
.x-boundlist-item .i-combo-color-box {/*width: 14px; height: 9px;*/}
.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    /*background-color: #dfe8f6;
    color: #0554c1;*/
}

/* Combo table */
.i-combo .i-combo-multiple .i-combo-table {/*margin-bottom: -3px;*/}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {/*height: 17px; margin-bottom: -1px;*/}

/* Combo info */
.i-combo .i-combo-info {font-size: 11px;}
.i-combo .i-combo-info-div {/*height: 17px;*/ padding-right: 1px;}
.i-combo .i-combo-info td {/*height: 17px;*/ padding-top: 1px;}
.i-combo .i-combo-infoCell {vertical-align: top; padding-top: 1px;}
.i-combo .i-combo-info .i-combo-info-countCell,
.i-combo .i-combo-info .i-combo-info-loadingCell{padding-right: 3px;}
.i-combo .i-combo-info .i-combo-info-loadingCell img {width: 20px;}
.i-combo .i-combo-info .i-combo-found {padding-right: 1px; padding-left: 1px; border: 1px solid rgba(255, 255, 255, 0);}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-found {
    padding-bottom: 1px; background-color: #057DC0; border: 1px solid #057DC0; color: white; margin-right: 1px;}

/* Combo color box */
.i-combo .i-combo-color-box {/*width: 14px; height: 9px;*/}

/* Combo multiple selected items*/
.i-combo .i-combo-multiple .i-combo-selected-item {
    background-color: #0A54B0; padding: 2px 5px 2px 5px; color: white;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    margin-left: 4px;
}
.x-panel .i-combo .i-combo-multiple .i-combo-selected-item,
.i-combo.i-combo-filter .i-combo-multiple .i-combo-selected-item {
    border-top: 1px solid white; border-left: 1px solid white; margin-top: 0; margin-left: 0;
}

/* Error styling*/
.x-form-invalid .i-combo .x-form-text {
    background-color: #ffede9;
    background-image: url('../../resources/themes/images/neptune/null');
    background-repeat: null;
    background-position: null;
    border-color: #DFCCC5;
    border-top-color: #BEAAA3;
}

/* Disabled styling */
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    /*border: 1px solid #b5b8c8 !important;
    background: url('../../resources/themes/images/default/form/text-bg.gif');*/
}
