.i-trail .x-btn-default-toolbar-small-over,
.i-trail .x-btn-default-toolbar-small-menu-active,
.i-trail .x-btn-default-toolbar-small-pressed {
    background: none;
    border-color: transparent;
}
.i-trail-item-section.x-btn-default-toolbar-small .x-btn-inner:before,
.i-trail-item-action.x-btn-default-toolbar-small .x-btn-inner:before,
.i-trail-item-row-title.x-btn-default-toolbar-small .x-btn-inner:before {
    content: '\000BB\00A0';
    font-style: normal;
    padding-left: 4px;
}
.i-trail .x-btn.x-btn-default-toolbar-small .x-btn-inner {
    font-size: 12px;
    padding: 0;
}
.i-trail-item-action.x-btn *, .i-trail-section-group.x-btn *{
    cursor: default;
}
.i-trail-item-action.i-trail-item-action-active.x-btn * {
    cursor: pointer;
}
.i-trail-item-row-title.x-btn-default-toolbar-small-over .x-btn-inner,
.i-trail-item-section.x-btn-default-toolbar-small-over .x-btn-inner,
.i-trail-item-action-active.x-btn-default-toolbar-small-over .x-btn-inner{
    color: #a5bce8;
}
.i-trail .x-btn.i-trail-item-row-title.x-btn-default-toolbar-small .x-btn-inner {
    font-style: italic;
    padding-right: 2px;
}
.i-trail-item-menu .x-menu-body {
    background: white !important;
    top: -1px !important;
    padding: 0 2px 0 2px;
    border-top-width: 0;
}
.i-trail-overflow-menu.i-trail-item-menu .x-menu-body {
    top: 0 !important;
    border-top-width: 1px;
}
.i-trail-overflow-menu.i-trail-item-menu .x-menu-item-arrow {
    top: 4px;
}
.i-trail-item-menu .x-menu-item-text {
    font-size: 12px;
    color: inherit;
}
.i-trail-item-menu .x-menu-item-icon {
    display: none;
}
.i-trail-item-menu .x-menu-item-link {
    padding: 0 0 0 1px;
    line-height: 13px;
}
.i-trail-item-menu .x-menu-item-active .x-menu-item-link {
    background: none;
    margin: 0;
    border: 1px solid transparent;
}
.i-trail-item-menu .x-menu-item-active .x-menu-item-text {
    background: none;
    color: #a5bce8;
    border: none;
}

/*#i-center-north-trail a img{
    vertical-align: text-top;
    position: relative;
    top: 1px;
    left: -1px;
}
.i-trail {
    margin-top: 0 !important;
}
.i-trail-item-menu .x-menu-item-active .x-menu-item-link{
    background: none;
    border-color: transparent;
    color: #a5bce8;
}
.i-trail-item-menu .x-menu-item-link {
    display: block;
    margin: 1px;
    padding: 0 0 0 0;
    text-decoration: none!important;
    line-height: 12px;
    cursor: pointer;
}
#i-center-north-trail .i-trail-item-row-title span,
#i-center-north-trail .i-trail-item-section span{
    cursor: pointer;
}
#i-center-north-trail .x-btn-default-toolbar-small-over,
#i-center-north-trail .x-btn-default-toolbar-small {
    border-width: 0 !important;
}
#i-center-north-trail span{
    cursor: default;
}
.x-gecko .i-trail .x-btn{
    padding-top: 1px !important;
}
.x-gecko #i-center-north-trail a img {
    top: 2px;
}
.x-gecko #i-center-north-trail span, .x-gecko #i-center-north-trail a{
    position: relative;
    top: -1px;
}
.x-gecko.x-nlg #i-center-north-trail span{
    position: relative;
    top: 0px;
}
.x-gecko.x-nlg #i-center-north-trail{
    position: relative;
    top: 1px;
}
.x-ie9.x-ie9p #i-center-north-trail{
    padding-top: 0px;
    position: relative;
    top: -1px;
}
.x-ie9p #i-center-north-trail{
    padding-top: 0px;
    position: relative;
    top: 1px;
}
.x-ie8 #i-center-north-trail{
    padding-top: 0px;
    margin-top: -3px;
}
.x-safari #i-center-north-trail{
    padding-top: 0px;
    margin-top: -3px;
}
.x-nlg .i-trail.x-toolbar.x-toolbar-default {
    background-image: none !important;
}*/