.trail-siblings{
    display: inline-block;
    height: auto;
    background: white;
    border: 1px solid #99BCE8;
    border-top: none;
    position: absolute;
    margin-left: -16px;
    margin-top: 16px;
    z-index: 101;
    /*padding: 0 2px 1px 4px;*/
}
.trail-siblings ul {
    margin-top: -1px;
}
/*.x-mask{z-index: 99 !important;}*/
.trail-siblings ul li:hover{
    background-color: #ecffeb;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
.trail-siblings ul li a:hover{
    color: inherit !important;
}
.trail-siblings ul li{
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0 2px 1px 4px;
    border-top: 1px solid #dfffdf;
}
.trail-siblings ul li a{
    width: 100%;
}
#trail a{text-decoration: none;}
#trail a:hover{color: #99BCE8}

span.select{
    display: block;
    border: 1px solid #99BCE8;
}
controls{
    width: 100%;
}
tr.disabled{
    background: #f5f5f5;
}
.x-gecko #trail{
    height: 17px;
    position: relative;
    top: -2px;
    line-height: 14px;
}
